@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import 'apps/frontend/src/styles/variables';

popper-content .ngxp__container {
  background: white;
} // Adds white bg colour to poppers, transparent by default

* {
  box-sizing: border-box;
}
html {
  background-color: #000;
}
body {
  background-color: white;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

b {
  font-weight: bold;
}
h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 32px;
}
h2 {
  font-size: 28px;
  line-height: 42px;
}
h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
}
h4 {
  font-size: 20px;
  line-height: 30px;
}
a {
  color: $clr-info;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

p {
  font-size: 18px;
  line-height: 24px;
}

h1,
h2,
h3,
h4,
a,
p {
  font-family: 'Roboto', sans-serif !important;
}

// Default set of classes to be used when wanting to set margins between components/elements
.mr-app {
  margin-right: 16px;
}

.ml-app {
  margin-left: 16px;
}

.mt-app {
  margin-top: 32px;
}

.mb-app {
  margin-bottom: 32px;
}

.m-app {
  margin: 32px 16px;
}

.pr-app {
  padding-right: 16px;
}
.pl-app {
  padding-left: 16px;
}
.pt-app {
  padding-top: 16px;
}
.pb-app {
  padding-bottom: 16px;
}
.p-app {
  padding: 16px;
}
