.app-input-no-underline .mat-form-field-underline {
  display: none;
}

@keyframes OffsetLabel {
  from {
    margin-bottom: 0;
  }

  to {
    margin-bottom: 15px;
  }
}

mat-form-field.ng-invalid.ng-touched {
  animation: OffsetLabel;
  animation-duration: 0.3s;
  margin-bottom: 15px;
}

.mat-tab-group {
  height: 100%;
}

.mat-tab-body-wrapper {
  flex-grow: 1;
}

.mat-tab-body {
  display: flex !important;
  flex-direction: column;
}

.mat-tab-body-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.mat-dialog-container {
  padding: 0 !important;
}

// ngx-popper overrides
body .ngxp__container {
  padding: 0 !important;
  border: 0 !important;
  font-size: 14px !important;
  border-radius: 0 !important;
  box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
}

.mat-calendar-body-cell-content {
  font-size: 13px !important;
}
.mat-calendar-controls {
  margin-top: 0 !important;
}
