/*
import into component.scss via:
@import "apps/frontend/src/styles/variables";
*/

/*
COLOURS
*/

// Neutrals
$clr-white: #ffffff;
$clr-black: #000000;

// primary
$clr-primary: #e47290;
$clr-primary-dk: #e64a73;
$clr-primary-lt: #edb9c7;

// secondary
$clr-secondary: #5a6268;
$clr-secondary-lt: #d3d3d3;

// success
$clr-success: #61ba75;
$clr-success-drk: #218838;
$clr-success-lt: #74c686;

// danger
$clr-danger: #dc3545;
$clr-danger-dk: #c82333;
$clr-danger-lt: #e97b86;

// light
$clr-light: #f8f9fa;
$clr-light-dk: #e2e6ea;
$clr-light-lt: #fafcfc;

// dark
$clr-dark: #343a40;
$clr-dark-dk: #23272b;
$clr-dark-lt: #7a7e83;

// info
$clr-info: #17a2b8;
$clr-info-dk: #138496;
$clr-info-lt: #67c3d0;

// warning
$clr-warning: #edbc29;
$clr-warning-dk: #e0a800;
$clr-warning-lt: #ffe598;
