<div *ngFor="let carousel of carouselData | keyvalue" class="carousel-container relative">
  <h2>{{ carousel.key | titlecase }}</h2>

  <ui-hr></ui-hr>

  <mat-spinner *ngIf="carousel.value.loading" i18n="@@loading">Loading...</mat-spinner>
  <h3 *ngIf="carousel.value.data?.data?.length == 0" i18n="@@no-performances-found">No performances found</h3>

  <div class="relative">
    <div class="absolute right-0 top-0 bottom-0 my-auto spinner" *ngIf="carousel.value.meta.loading_page">
      <mat-spinner [diameter]="40"></mat-spinner>
    </div>

    <carousel
      *ngIf="!carousel.value.loading"
      (events)="handleCarouselEvents($event, carousel.key)"
      [margin]="20"
      [height]="256"
      [loading]="carousel.value.meta.loading_page"
      [id]="carousel.key"
      [cellsToShow]="currentCellsToShow"
      [loop]="false"
    >
      <div class="carousel-cell overflow-hidden" *ngFor="let performance of carousel.value.data.data; let i = index">
        <app-performance-thumb [performance]="performance"> </app-performance-thumb>
      </div>
    </carousel>
  </div>
</div>

<router-outlet></router-outlet>
