carousel {
  width: 100%;
  .carousel-cell:hover {
    z-index: 10;
  }
}

.carousel-overflow {
  overflow: hidden;
  padding: 1.5rem 0.5rem;
  margin: -1.5rem -0.5rem;
}

.carousel-container {
  width: 100%;
  min-height: 256px;
  &:not(:first-child) {
    margin-top: 40px;
  }
}

.spinner {
  z-index: 10001;
  height: 40px;
  right: 10px !important;
  ::ng-deep .mat-progress-spinner circle,
  .mat-spinner circle {
    stroke: #fff;
  }
}

.sticky-header {
  width: calc(100% + 4rem);
  margin-top: -10rem;
  margin-left: -2rem;
  position: relative;
  color: white;

  .sticky-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    background: hsla(344, 82%, 61%, 1);
    background: linear-gradient(315deg, hsla(344, 82%, 61%, 1) 0%, hsla(295, 100%, 84%, 0) 100%);
  }
}
