<div class="ui-input-wrapper">
  <!-- Input -->
  <div
    (clickOutside)="togglePasswordVisibility(false, $event); focused = false"
    class="form-field"
    [class.form-field--is-active]="focused"
    [class.form-field--is-filled]="value != undefined"
    [class.form-field--is-small]="!data.options.label"
    [class.form-field--is-errored]="showError"
    [class.form-field--is-disabled]="control.disabled"
    *ngIf="data.type == 'number' || data.type == 'text' || data.type == 'password' || data.type == 'phone'"
  >
    <div class="form-field__control">
      <label *ngIf="data.options.label" class="form-field__label"
        >{{ data.options.label }}
        <span *ngIf="focused || value != undefined">{{ required ? '' : optionalTransUnit }}</span>
      </label>
      <input
        #input
        [(ngModel)]="value"
        (blur)="onTouchedCallback()"
        (focus)="onFocusCallback()"
        [disabled]="control.disabled"
        [placeholder]="data.options.placeholder || ''"
        [type]="
          data.type == 'password'
            ? meta.password.is_visible
              ? 'text'
              : 'password'
            : data.type == 'phone'
            ? 'tel'
            : data.type == 'money'
            ? 'tel'
            : data.type
        "
        [mask]="data.options?.mask ? data.options.mask.value : data.type == 'phone' ? '(0000) 000-000' : ''"
        [suffix]="value != undefined || focused ? (data.options?.mask ? data.options.mask.suffix : '') : ''"
        [prefix]="
          value != undefined || focused
            ? data.options?.mask
              ? data.options.mask.prefix
              : data.type == 'phone'
              ? '+44'
              : ''
            : ''
        "
        tabindex="0"
        autocomplete="off"
        class="form-field__input"
      />
      <!-- FIXME: fix ui-icon-button to re-enable this icon to display password -->
      <!-- <div class="form-field__password" *ngIf="type == 'password'">
            <ui-icon-button size="m" (click)="togglePasswordVisibility(false, $event)" *ngIf="passwordVisible"><ui-icon>view--filled</ui-icon></ui-icon-button>
            <ui-icon-button size="m" (click)="togglePasswordVisibility(true, $event)" *ngIf="!passwordVisible"><ui-icon>view--off--filled</ui-icon></ui-icon-button>
          </div> -->
    </div>
  </div>

  <!-- Textarea -->
  <div
    (click)="textarea.select()"
    class="form-field"
    [class.form-field--is-active]="focused"
    [class.form-field--is-filled]="value != undefined"
    [class.form-field--is-small]="!data.options.label"
    [class.form-field--is-errored]="showError"
    *ngIf="data.type == 'textarea'"
  >
    <div class="form-field__control">
      <label *ngIf="data.options.label" class="form-field__label"
        >{{ data.options.label }}
        <span *ngIf="focused || value != undefined">{{ required ? '' : optionalTransUnit }}</span>
      </label>
      <textarea
        #textarea
        [rows]="data.options.rows"
        [(ngModel)]="value"
        (blur)="onTouchedCallback()"
        (focus)="onFocusCallback()"
        [disabled]="control.disabled"
        [placeholder]="data.options.placeholder || ''"
        tabindex="0"
        autocomplete="off"
        class="form-field__textarea"
      ></textarea>
    </div>
  </div>

  <!-- Toggle Switch -->
  <div *ngIf="data.type == 'toggle'" class="form-field__toggle">
    <mat-label class="label-before-slide">{{ data.options.right_label }}</mat-label>
    <mat-slide-toggle (blur)="onTouchedCallback()" (focus)="onFocusCallback()" [(ngModel)]="value">
      {{ data.options.left_label }}
    </mat-slide-toggle>
  </div>

  <!-- Money -->
  <div
    (clickOutside)="togglePasswordVisibility(false, $event); focused = false"
    (click)="input.select()"
    class="form-field form-field__money"
    [class.form-field--is-active]="focused"
    [class.form-field--is-filled]="value != undefined"
    [class.form-field--is-small]="!data.options.label"
    [class.form-field--is-errored]="showError"
    [class.form-field--is-disabled]="control.disabled"
    *ngIf="data.type == 'money'"
  >
    <div class="form-field__control">
      <label *ngIf="data.options.label" class="form-field__label"
        >{{ data.options.label }}
        <span *ngIf="focused || value != undefined">{{ required ? '' : optionalTransUnit }}</span>
      </label>
      <input
        mask="separator.2"
        [prefix]="data.options.mask.prefix"
        [placeHolderCharacter]="''"
        thousandSeparator=","
        #input
        [(ngModel)]="value"
        (blur)="onTouchedCallback()"
        (focus)="onFocusCallback()"
        [disabled]="control.disabled"
        [placeholder]="data.options.placeholder || ''"
        type="tel"
        tabindex="0"
        autocomplete="off"
        class="form-field__input"
      />
    </div>
  </div>

  <!-- Rich Text using ngx-quill -->
  <div
    *ngIf="data.type == 'richtext'"
    class="form-field ui-input--rich-text"
    [class.form-field--is-active]="focused"
    [class.form-field--is-filled]="value != undefined"
    [class.form-field--is-small]="!data.options.label"
    [class.form-field--is-errored]="showError"
    [class.form-field--is-disabled]="control.disabled"
  >
    <span>{{ data.options.label }} {{ required ? '' : optionalTransUnit }}</span>
    <div class="form-field__control">
      <quill-editor
        #quill
        format="json"
        [modules]="richTextModules"
        [maxLength]="meta.richtext.max_length"
        [minLength]="meta.richtext.min_length"
        [disabled]="control.disabled"
        (onBlur)="onTouchedCallback()"
        (onFocus)="onFocusCallback()"
        [(ngModel)]="value"
        (onContentChanged)="richTextChanged($event)"
      >
      </quill-editor>
    </div>
  </div>

  <!-- Checkboxes -->
  <mat-form-field
    *ngIf="data.type == 'checkbox'"
    class="ui-input"
    appearance="fill"
    [class.errored]="showError"
    [class.small]="!data.options.label"
    [class.checkbox]="data.type == 'checkbox'"
  >
    <mat-label *ngIf="data.options.label && data.type != 'checkbox'">{{ data.options.label }}</mat-label>
    <mat-checkbox [disabled]="control.disabled" matInput *ngIf="data.type == 'checkbox'" [(ngModel)]="value">{{
      data.options.label
    }}</mat-checkbox>
    <!-- stop formcontrolname throwing errors -->
    <input matInput placeholder="Input" style="display: none" />
  </mat-form-field>

  <!-- Select with search -->
  <mat-form-field *ngIf="data.type == 'select'" appearance="fill">
    <mat-label>{{ data.options.label }}</mat-label>
    <mat-select
      #singleSelect
      [disabled]="control.disabled"
      (blur)="onTouchedCallback()"
      (focus)="onFocusCallback()"
      [(ngModel)]="value"
      disableOptionCentering
    >
      <mat-option *ngIf="data.options.has_search">
        <ngx-mat-select-search
          ngModel
          (ngModelChange)="filterSelectionItems($event)"
          i18n-placeholderLabel="@@input_select_placeholder"
          placeholderLabel="Search"
          i18n-noEntrinoEntriesFoundLabel="@@input_select_no_entries"
          noEntriesFoundLabel="No results"
        >
        </ngx-mat-select-search>
      </mat-option>
      <mat-option
        *ngFor="let item of filteredSelectionItems | async | keyvalue: originalOrder"
        [value]="item.key"
        [disabled]="item.value.disabled"
        (click)="emitSelectionChange(item.key)"
      >
        {{ item.value.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Date picker, single -->
  <mat-form-field
    class="form-field__date"
    appearance="fill"
    *ngIf="data.type == 'date' && !data.options?.is_date_range"
  >
    <mat-label i18n>Choose a date</mat-label>
    <input
      matInput
      [(ngModel)]="value"
      [matDatepicker]="picker"
      (click)="picker.open()"
      [min]="data.options.min_date"
      [max]="data.options.max_date"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <!-- Date picker, range -->
  <mat-form-field class="form-field__date" appearance="fill" *ngIf="data.type == 'date' && data.options?.is_date_range">
    <mat-label i18n>Enter a date range</mat-label>
    <mat-date-range-input
      [rangePicker]="picker"
      #pickerInput
      [min]="data.options.min_date"
      [max]="data.options.max_date"
      (click)="picker.open()"
      (dateChange)="handleStartDateRangeChange($event)"
    >
      <input
        [value]="value['start']"
        matStartDate
        i18n-placeholder
        placeholder="Start date"
        (dateChange)="handleStartDateRangeChange($event)"
      />
      <input
        [value]="value['end']"
        matEndDate
        i18n-placeholder
        placeholder="End date"
        (dateChange)="handleEndDateRangeChange($event)"
      />
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker>
      <mat-date-range-picker-actions *ngIf="data.options?.actions">
        <button mat-button matDateRangePickerCancel i18n>Cancel</button>
        <button mat-raised-button color="primary" matDateRangePickerApply i18n>Apply</button>
      </mat-date-range-picker-actions>
    </mat-date-range-picker>
  </mat-form-field>

  <!-- Time picker -->
  <mat-form-field *ngIf="data.type == 'time'" appearance="fill">
    <mat-label>{{ data.options.label }}</mat-label>
    <mat-select
      #singleSelect
      (blur)="onTouchedCallback()"
      (focus)="onFocusCallback()"
      [(ngModel)]="value"
      disableOptionCentering
    >
      <mat-option *ngFor="let item of timeItems | keyvalue: originalOrder" [value]="item.key">
        {{ item.value.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Datetime picker -->
  <mat-form-field class="form-field__datetime" *ngIf="data.type == 'datetime'" appearance="fill">
    <input
      matInput
      [ngxMatDatetimePicker]="picker"
      [(ngModel)]="value"
      placeholder="Choose a date"
      [min]="data.options.min_date"
      [max]="data.options.max_date"
    />
    <mat-label i18n>Enter a date range</mat-label>

    <mat-datepicker-toggle matSuffix [for]="picker"> </mat-datepicker-toggle>
    <ngx-mat-datetime-picker #picker> </ngx-mat-datetime-picker>
  </mat-form-field>

  <!-- Radio select -->
  <mat-form-field class="form-field__radio" *ngIf="data.type == 'radio'" appearance="none">
    <label>{{ data.options.label }}</label>
    <mat-radio-group [disabled]="control.disabled" [(ngModel)]="value">
      <mat-radio-button
        *ngFor="let item of data.options.values | keyvalue: originalOrder"
        [disabled]="item.value.disabled"
        [value]="item.key"
      >
        {{ item.value.label }}
      </mat-radio-button>
    </mat-radio-group>
    <!-- stop formcontrolname throwing errors -->
    <input matInput placeholder="Input" style="display: none" />
  </mat-form-field>

  <div class="form-field__footer">
    <div class="flex flex-col">
      <!-- Form errors -->
      <div *ngIf="showError" class="form-field__errors">
        <span *ngFor="let error of errors">{{ error }}</span>
      </div>

      <!-- Hint message -->
      <span *ngIf="data.options.hint && !data.options.hide_footer" class="form-field__hint">{{
        data.options.hint
      }}</span>
    </div>

    <ng-container
      *ngIf="!data.options.hide_footer && (data.type == 'text' || data.type == 'textarea' || data.type == 'richtext')"
    >
      <!-- Field length indicators -->
      <div class="form-field_lengths" *ngIf="meta[data.type].max_length || meta[data.type].min_length">
        <span *ngIf="meta[data.type].min_length">{{ meta[data.type].min_length }} /</span>
        {{ value?.length || 0 }}
        <span *ngIf="meta[data.type].max_length">/ {{ meta[data.type].max_length }}</span>
      </div>
    </ng-container>
  </div>
</div>
