@import 'apps/frontend/src/styles/variables.scss';

.ui-input-wrapper {
  margin-bottom: 16px;
}

$primary-color: #1362fe;
$animation-duration: 0.2s;

@mixin label-active() {
  font-size: 0.75rem;
  transform: translateY(-8px);
}

.form-field {
  display: block;

  &--has-icon {
    display: flex;
    align-items: center;
    ui-icon {
      margin-right: 1rem;
    }
  }

  &--is-active {
    input {
      opacity: 1 !important;
    }

    ui-icon {
      color: $primary-color;
    }

    .form-field__control {
      &::after {
        border-bottom: 2px solid $primary-color;
        width: 100%;
      }
    }
    .form-field__label {
      color: $primary-color;
      @include label-active();
    }
  }

  &--is-disabled {
    opacity: 0.5;
    &:hover {
      cursor: not-allowed !important;
      pointer-events: none !important;
    }
    .form-field__control {
      &::after {
        border-bottom: 2px solid transparent !important;
      }
    }
  }

  &--is-filled {
    input {
      opacity: 1 !important;
    }
    .form-field__label {
      @include label-active();
    }
  }

  &--is-errored {
    .form-field__label {
      color: rgba(255, 0, 0, 0.7);
    }
    .form-field__control::after {
      border-bottom: 2px solid red;
      width: 100%;
    }
  }

  &--is-small {
    // max-height: 40px;
    .form-field__control {
      padding: 10px 12px;
    }
  }
}

.form-field__label {
  display: block;
  padding: 16px 12px;
  color: rgba(0, 0, 0, 0.7);
  &:hover {
    cursor: text !important;
  }

  span {
    opacity: 0.4;
  }

  font-weight: normal;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  transition: all $animation-duration;
  width: 100%;
}

.form-field__control {
  background: white;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 12px;
  border: 1px solid #d8d8da;
  border-radius: 5px;

  &::before {
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    margin: 0 auto;
    right: 0;
    position: absolute;
    transition: all $animation-duration;
    width: 100%;
  }

  &::after {
    border-bottom: 2px solid $primary-color;
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    transition: all $animation-duration;
    width: 0%;
  }

  .form-field__password {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

.form-field__input {
  position: relative;
  z-index: 2;
}

.form-field__input,
.form-field__textarea {
  appearance: none;
  background: transparent;
  border: 0;
  color: #333;
  display: block;
  outline: 0;
  width: 100%;
}

.form-field__texticon {
  appearance: none;
  background: transparent;
  border: 0;
  color: #333;
  display: flex;
  outline: 0;
  width: 100%;
}

mat-form-field ::ng-deep {
  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }
  .mat-form-field-underline {
    max-height: 1px;
    border-width: 1px;
    bottom: 0;
  }
}

// ::ng-deep .mat-form-field-flex {
//   &:hover {
//     cursor: text;
//   }
// }
// .small {
//   max-height: 40px;
//   margin-bottom: 10px;
//   ::ng-deep {
//     .mat-form-field-wrapper,
//     .mat-form-field-flex {
//       height: 40px;

//       .mat-form-field-infix {
//         padding: 0;
//       }
//     }
//     .mat-form-field-flex {
//       padding: 0 10px 0 5px;
//     }
//     .mat-form-field-underline {
//       bottom: 0;
//     }
//   }
// }

// .ui-input {
//   position: relative;
//   .ui-input-number-buttons {
//     position: absolute;
//     right: 0;
//     top: 0;
//     height: 100%;
//     display: flex;
//     flex-flow: column;
//     ui-icon-button {
//       height: 50%;
//     }
//   }
// }

.checkbox ::ng-deep {
  .mat-checkbox-layout {
    white-space: pre-wrap;
  }
  .mat-form-field-infix {
    padding: 0;
    border: 0;
  }
  .mat-form-field-flex {
    padding: 0;
    background: transparent;
  }
  .mat-form-field-underline {
    display: none;
  }
}

.form-field__footer {
  display: flex;
  justify-content: space-between;

  .form-field__hint,
  .form-field_lengths {
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.75rem;
    line-height: 1rem;
    margin-bottom: 3px;
    margin-left: 12px;
  }

  .form-field_lengths {
    margin-left: auto;
  }
}

.form-field__errors {
  margin-top: 10px;
  margin-left: 12px;
  display: flex;
  flex-flow: column;
  &.shiftMore {
    margin-bottom: 18.125px;
    margin-top: -30px;
  }
  span {
    color: red;
    font-size: 0.75rem;
    line-height: 0.9;
    margin-bottom: 3px;
  }
}

ui-icon {
  color: rgba(0, 0, 0, 0.7);
}

mat-form-field {
  position: relative;
}

// Select / tree ---------------------------------------------------------------------------------------------------------------
mat-tree-node {
  display: flex;
  align-items: center;
  height: 3em;
  line-height: 3em;
  overflow: visible;
  transition: 0.2s;
  overflow: hidden;
  &:hover {
    background-color: rgb(245 245 245);
  }
  &.root-node:not(:last-child) {
    border-bottom: 1px solid rgba(128, 128, 128, 0.1);
  }
  p {
    margin: 0;
    width: 100%;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    span {
      opacity: 0.5;
      float: right;
      margin-left: auto;
      font-weight: normal;
      margin-right: 10px;
    }
  }
}

// Removes border thickening on hover in select input fields
::ng-deep .mat-form-field-outline-start {
  border: 1px solid rgba(128, 128, 128, 0.3) !important;
  border-right: hidden !important;
}
::ng-deep .mat-form-field-outline-end {
  border: 1px solid rgba(128, 128, 128, 0.3) !important;
  border-left: hidden !important;
}
::ng-deep .mat-form-field-outline-gap {
  border-bottom: 1px solid rgba(128, 128, 128, 0.3) !important;
}

.additional-selection {
  &::before {
    content: ' ';
  }
  opacity: 0.75;
  font-size: 0.75em;
}

ui-icon {
  margin-left: 10px;
}

.form-field__radio {
  label {
    display: block;
    margin-bottom: 10px;
  }
  mat-radio-group {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
  }
  ::ng-deep {
    .mat-form-field-infix {
      border: 0 !important;
      padding: 0 !important;
    }
    .mat-form-field-underline {
      display: none !important;
    }
  }
}

// Rich Text -------------------------
.ui-input--rich-text {
  span {
    display: block;
    margin-bottom: 5px;
  }
  .form-field__control {
    padding-top: 12px !important;
  }

  quill-editor ::ng-deep {
    position: relative;

    * {
      font-size: 16px !important;
    }

    // placeholder text
    .ql-editor.ql-blank::before {
      left: 0 !important;
      right: 0 !important;
      font-style: normal !important;
    }
    .ql-container,
    .ql-toolbar {
      border: 0 !important;
      background-color: white !important;
    }
    .ql-toolbar {
      margin-left: -8px !important;
      padding: 0 !important;
    }
    .ql-editor {
      padding-left: 0 !important;
      padding-right: 0 !important;
      line-height: 1.5;
    }
  }
}

.form-field__date {
  &:hover {
    cursor: pointer !important;
  }
}

.form-field__money {
  input {
    opacity: 0;
  }
}

.form-field__toggle {
  display: flex;
  mat-label {
    vertical-align: top;
    line-height: 24px;
    margin-right: 0.5rem;
  }
}

// prevent form fields from being limited to 180px wide
// https://stackoverflow.com/a/57978961
::ng-deep .mat-form-field-infix {
  width: auto !important;
}

// form-field--no-label
.form-field--no-label {
  ::ng-deep {
    .mat-select-arrow-wrapper {
      padding-top: 10px !important;
    }
    .mat-form-field-infix {
      padding-top: 5px !important;
    }
    .mat-form-field-flex {
      padding-top: 0 !important;
    }
  }
}

input::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.red {
  color: red;
}
