@import "apps/frontend/src/styles/variables.scss";

.ui-input-wrapper {
  margin-bottom: 16px;
  &--has-icon {
    input, textarea {
      padding-left: 38px;
    }
    .form-field__label {
      padding-left: 50px;
    }
    ui-icon {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      display: flex;
      align-items: center;
    }
  }
}


$primary-color: #1362fe;
$animation-duration: 0.2s;

@mixin label-active() {
  font-size: 0.75rem;
  transform: translateY(-8px);
}

.form-field {
  display: block;
  &--is-active {
    .form-field__control {
      &::after {
        border-bottom: 2px solid $primary-color;
        width: 100%;
      }
    }
    .form-field__label {
      color: $primary-color;
      @include label-active();
    }
  }

  &--is-filled {
    .form-field__label {
      @include label-active();
    }
  }

  &--is-errored {
    .form-field__label {
      color: rgba(255, 0, 0, 0.7);
    }
    .form-field__control::after {
      border-bottom: 2px solid red;
      width: 100%;
    }
  }
  
  &--is-small {
    max-height: 40px;
    .form-field__control {
      padding: 10px 12px;
    }
  }
}

.form-field__label {
  display: block;
  padding: 16px 12px;
  color: rgba(0, 0, 0, 0.7);
  &:hover {
    cursor: text !important;
  }

  span {
    opacity: .4;
  }


  font-weight: normal;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  transition: all $animation-duration;
  width: 100%;
}

.form-field__control {
  background: #eee;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 0 12px 8px;
  padding-top: 24px;

  &::before {
    border-bottom: 1px solid #999;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    margin: 0 auto;
    right: 0;
    position: absolute;
    transition: all $animation-duration;
    width: 100%;
  }

  &::after {
    border-bottom: 2px solid $primary-color;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    transition: all $animation-duration;
    width: 0%;
  }

  .form-field__password {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

.form-field__input,
.form-field__textarea {
  appearance: none;
  background: transparent;
  border: 0;
  color: #333;
  display: block;
  outline: 0;
  width: 100%;
}

// ::ng-deep .mat-form-field-flex {
//   &:hover {
//     cursor: text;
//   }
// }
// .small {
//   max-height: 40px;
//   margin-bottom: 10px;
//   ::ng-deep {
//     .mat-form-field-wrapper,
//     .mat-form-field-flex {
//       height: 40px;

//       .mat-form-field-infix {
//         padding: 0;
//       }
//     }
//     .mat-form-field-flex {
//       padding: 0 10px 0 5px;
//     }
//     .mat-form-field-underline {
//       bottom: 0;
//     }
//   }
// }

// .ui-input {
//   position: relative;
//   .ui-input-number-buttons {
//     position: absolute;
//     right: 0;
//     top: 0;
//     height: 100%;
//     display: flex;
//     flex-flow: column;
//     ui-icon-button {
//       height: 50%;
//     }
//   }
// }

.checkbox ::ng-deep {
  .mat-form-field-infix {
    padding: 0;
    border: 0;
  }
  .mat-form-field-flex {
    padding: 0;
    background: transparent;
  }
  .mat-form-field-underline {
    display: none;
  }
}

.form-field__hint {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.75rem;
  line-height: 0.9;
  margin-bottom: 3px;
  margin-left: 12px;
}

.form-field__errors {
  margin-top: 10px;
  margin-left: 12px;
  margin-bottom: 10px;
  display: flex;
  flex-flow: column;
  &.shiftMore {
    margin-bottom: 18.125px;
    margin-top: -30px;
  }
  span {
    color: red;
    font-size: 0.75rem;
    line-height: 0.9;
    margin-bottom: 3px;
  }
}

ui-icon {
  color: rgba(0, 0, 0, 0.7);

}

// .ui-input {
//   &.hasHint {
//     margin-bottom: 1.34375em;
//   }

//   &.errored {
//     ::ng-deep {
//       .mat-form-field-ripple {
//         transform: none !important;
//         opacity: 1 !important;
//         height: 2px !important;
//         background-color: #f44335 !important;
//       }
//     }

//     &.mat-focused {
//       ::ng-deep {
//         .mat-form-field-wrapper .mat-form-field-flex {
//           border: 2px solid #f44335 !important;
//         }
//       }
//     }
//   }
// }


mat-form-field {
  position: relative;
}

mat-tree-node {
  display: flex;
  align-items: center;
  height: 3em;
  line-height: 3em;
  overflow: visible;
  transition: .2s;
  overflow: hidden;
  &:hover {
      background-color: rgb(245 245 245);
  }
  &.root-node:not(:last-child) {
    border-bottom: 1px solid rgba(128, 128, 128, 0.1);
  }
  p {
    margin: 0;
    width: 100%;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    span {
      opacity: 0.5;
      float: right;
      margin-left: auto;
      font-weight: normal;
      margin-right: 10px;
    }
  }
}


.additional-selection {
  &::before { content: " "}
  opacity: 0.75;
  font-size: 0.75em;
}

ui-icon {
  margin-left: 10px;
}
