
<ui-dialog [buttons]="buttons" title="Delete Performance">
    <h2>
      <span i18n>Your performance is scheduled to premiere in: {{ this.performance.premiere_datetime | timeUntilPipe }}</span>
    </h2>
    <div class="mx-auto my-4" >
      <h3 i18n>Deleting your performance will result in:</h3>
      <ul class="list-decimal ml-8 text-xl">
        <li i18n>All tickets purchased being refunded</li>
        <li i18n>All data associated with the performance being deleted</li>
      </ul>
    </div>
</ui-dialog>