h1 {
  margin-bottom: 20px !important;
}

mat-error.form {
  display: inline-block !important;
  margin-left: 20px;
}

.register-wrapper {
    display: flex;
    overflow: hidden;
    background-color: white;
    height: 100vh;

}