<h1>Host Onboarding</h1>
<mat-divider></mat-divider>
<br>

<mat-vertical-stepper #stepper *ngIf="onboarding.data">
  <mat-step *ngFor="let step of stepUiMap | keyvalue" [label]="step.value.label">
    <ui-form [form]="step.value.form" [cacheable]="stepData[step.key]"></ui-form>
  </mat-step>

  <mat-step label="Submit for Verification">
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>