<div class="flex">
  <ng-container *ngIf="performance">
    <mat-tab-group #tabs class="w-full" dynamicHeight>
      <mat-tab>
        <div class="flex p-4">
          <div class="w-full">
            <div class="flex justify-between">
              <h1>{{ performance.name }}</h1>
              <app-like
                class="mt-4"
                *ngIf="myself"
                [userLiked]="userLiked"
                [location]="'brochure'"
                [likeCount]="performance.like_count"
                (onLike)="likeEvent($event)"
              ></app-like>
            </div>
            <app-user-thumb [user]="performance.host"></app-user-thumb>
            <div *ngIf="myself" class="mt-3">
              <app-follow-button
                [userFollowing]="userFollowing"
                [hostId]="performance.host._id"
                (onFollowEvent)="onFollowEvent.emit('follows')"
              ></app-follow-button>
            </div>
            <ui-hr></ui-hr>
            <quill-view [content]="performance.description" format="json" theme="snow"></quill-view>
          </div>

          <div class="w-2/3 ml-4 text-right" *ngIf="performance.tickets.length">
            <h2 i18n>Tickets</h2>
            <p class="text-lg" *ngIf="!myself" i18n>
              You must <a class="cursor-pointer" (click)="openAuth('/register')">register</a> or
              <a class="cursor-pointer" (click)="openAuth('/login')">log in</a>
              before being able to purchase this performance.
            </p>

            <ng-container *ngIf="userHasBoughtPerformance">
              <b i18n>You've already purchased tickets for '{{ performance.name }}'</b>
              <p *ngIf="currentTimestamp < performance.publicity_period.start" class="mt-4" i18n>
                It will premiere <b>{{ prettyDuration(performance.publicity_period.start - currentTimestamp) }}</b>
                <!-- Display if performance is greater than 86400 seconds away (i.e. 24 hours)  -->
                <span *ngIf="performance.publicity_period.start - this.currentTimestamp > 86400">
                  on {{ prettyDate(performance.publicity_period.start) }}</span
                >
              </p>
              <!-- Display if performance is live -->
              <p
                *ngIf="
                  performance.publicity_period.start < currentTimestamp &&
                  currentTimestamp < performance.publicity_period.end
                "
                class="mt-4"
                i18n
              >
                This performance is now live!
              </p>
              <!-- Display if performance has finished -->
              <p *ngIf="currentTimestamp > performance.publicity_period.end" class="mt-4" i18n>
                This performance has finished
              </p>
              <div>
                <!-- Display if performance is live in less than 10 minutes (i.e. 600 seconds) -->
                <ui-button
                  kind="primary"
                  class="flex-grow rounded-full overflow-hidden"
                  *ngIf="
                    performance.publicity_period.start - currentTimestamp < 600 &&
                    currentTimestamp < performance.publicity_period.end
                  "
                  [routerLink]="'/events/' + performance._id"
                  i18n
                  (click)="leave.emit()"
                >
                  Watch Now
                </ui-button>
              </div>
            </ng-container>

            <ng-container *ngIf="!userHasBoughtPerformance">
              <div *ngFor="let ticket of performance.tickets">
                <!-- Only allow users to open purchase screen if they're logged in -->
                <app-performance-ticket
                  [disabled]="!myself"
                  (click)="myself && openPurchaseTicketSection(ticket)"
                  [ticket]="ticket"
                >
                </app-performance-ticket>
              </div>
            </ng-container>
          </div>
        </div>
      </mat-tab>

      <mat-tab class="relative">
        <div class="flex flex-col p-4" *ngIf="selectedTicket">
          <div class="text-center relative">
            <h4 class="opacity-50" i18n>CHECKOUT</h4>
            <h1 class="mb-0">{{ performance.name }}</h1>
            <ui-button
              (click)="openPerformanceDescriptionSection()"
              icon="arrow--left"
              class="absolute left-0 top-0"
              i18n
            >
              Back</ui-button
            >
          </div>

          <!-- Show breakdown of cost if the host is VAT registered -->
          <div *ngIf="performance.host.is_vat_registered && selectedTicket.type == 'paid'" class="text-gray-500">
            <h3>Order Summary</h3>
            <div class="grid grid-cols-2 mt-6">
              <!-- Adjust if in the future users can purchases multiple tickets at a time -->
              <p i18n>1 x General Admission</p>
              <p i18n>{{ selectedTicket.amount * (1 - vat) | currencyPipe: selectedTicket.currency }}</p>
              <p class="mb-0" i18n>VAT</p>
              <p class="mb-0" i18n>
                {{ selectedTicket.amount * vat | currencyPipe: selectedTicket.currency }} ({{ vat * 100 }}%)
              </p>
              <ui-hr class="col-span-2 py-0"></ui-hr>
              <p i18n>Total</p>
              <p i18n>{{ selectedTicket.amount | currencyPipe: selectedTicket.currency }}</p>
            </div>
          </div>

          <small class="block text-gray-500 my-2 p-2 bg-gray-200" i18n>
            By clicking "Pay", I accept the
            <a class="whitespace-nowrap" [routerLink]="['/documents/terms-and-conditions']" target="_blank"
              >terms and conditions</a
            >
            and have read the
            <a class="whitespace-nowrap" [routerLink]="['/documents/privacy-policy']" target="_blank">privacy policy</a
            >. I agree that StageUp <b>may share my information</b> with the {{ performance.host.name }}.
          </small>

          <ui-hr></ui-hr>

          <ui-form class="w-1/2 place-self-center" *ngIf="selectedTicket.type == 'dono'" [form]="donoPegSelectForm">
          </ui-form>

          <app-payment-method
            #paymentMethod
            (onPaymentSuccess)="handleCardPaymentSuccess($event)"
            (onPaymentFailure)="handleCardPaymentFailure($event)"
            [smaller]="true"
            [isSelecting]="true"
          ></app-payment-method>

          <div class="mx-8">
            <!-- Host marketing Opt-out button -->
            <ui-form *ngIf="showHostMarketingForm" [form]="hostMarketingOptForm"></ui-form>
            <!-- SU marketing Opt-in button. Always display unless the user is already opted in. -->
            <ui-form *ngIf="showPlatformMarketingForm" [form]="stageupMarketingOptForm"></ui-form>
          </div>

          <!-- Only show the button if **not** in the process of adding a new card -->
          <!-- And un-disabled when a card is selected -->
          <ui-button
            *ngIf="paymentMethod?.tabs?.selectedIndex != 1"
            (click)="confirmTicketPayment()"
            [loading]="paymentMethod?.loading"
            [disabled]="
              paymentMethod?.selectionModel?.isEmpty() ||
              paymentMethod?.loading ||
              (selectedTicket.type == 'dono' && !selectedDonoPeg)
            "
            class="ml-auto"
            kind="primary"
            size="l"
            icon="purchase"
          >
            <span *ngIf="selectedTicket.type == 'paid'">
              <span i18n>Pay</span> {{ selectedTicket.amount | currencyPipe: selectedTicket.currency }}
            </span>

            <span *ngIf="selectedTicket.type == 'dono'">
              {{
                !selectedDonoPeg
                  ? 'Select an amount'
                  : 'Pay ' + (selectedTicket.amount | currencyPipe: selectedTicket.currency)
              }}
            </span>

            <span *ngIf="selectedTicket.type == 'free'" i18n> FREE </span>
          </ui-button>
        </div>
      </mat-tab>

      <mat-tab>
        <div class="flex flex-col p-4" *ngIf="stripePaymentIntent">
          <ng-container *ngIf="stripePaymentIntent.status === 'succeeded'">
            <h1 i18n>Thanks for your order!</h1>
            <ui-hr></ui-hr>

            <h3 i18n>
              You're going to watch "<b>{{ performance.name }}</b
              >"
            </h3>
            <br />

            <p i18n>
              <b>@{{ performance.host.username }}</b> is due to premiere this stream at
              {{ performance.publicity_period.start | amFromUnix | amDateFormat: 'LLL' }}, you'll be notified by e-mail
              before it begins.
            </p>
            <p i18n>
              Purchase confirmation will arrive at <b>{{ myself.email_address }}</b> shortly.
            </p>

            <div class="flex ml-auto">
              <!-- <ui-button
                size="m"
                kind="primary"
                class="mr-2"
                *ngIf="performance.stream.state == 'video.live_stream.active'"
                >Watch Now</ui-button
              > -->
              <ui-button size="m" kind="primary" (click)="leave.emit()" class="mr-2" i18n>Watch Later</ui-button>
              <ui-button size="m" kind="secondary" (click)="leave.emit()" i18n>Done</ui-button>
            </div>
          </ng-container>

          <ng-container *ngIf="stripePaymentIntent.status !== 'succeeded'">
            <h1 i18n>Problem occurred while purchasing ticket</h1>
          </ng-container>
        </div>
      </mat-tab>
    </mat-tab-group>
  </ng-container>
</div>
