<app-page>
  <div body>
    <app-breadcrumb></app-breadcrumb>
    <h1 i18n>Analytics</h1>
    <ui-hr> </ui-hr>

    <p class="float-left" i18n>
      <b>{{ selectedPeriod | titlecase }}</b> snapshot of all your performances
    </p>

    <app-host-analytics-graphs (periodEmitter)="refreshTable($event)"> </app-host-analytics-graphs>

    <div class="mt-app w-full">
      <h3 i18n>Performances</h3>
      <p i18n>Filter by columns for aggregated analytics</p>
      <ui-table [table]="performanceAnalyticsTable"></ui-table>
    </div>
  </div>
</app-page>
