<ui-dialog [noPadding]="true" [loading]="performanceCacheable.loading || paymentMethod?.loading">
  <div *ngIf="performance" class="flex-1 relative">
    <app-player #player *ngIf="performanceTrailer" (onPlayerReady)="player.load(performanceTrailer)"> </app-player>

    <img
      *ngIf="!performanceTrailer"
      class="object-cover h-96 w-full"
      [src]="performance.thumbnail || '/assets/performance-placeholder.jpeg'"
    />

    <app-social-sharing class="absolute right-4 bottom-4" [url]="performanceSharingUrl"></app-social-sharing>
  </div>

  <div class="flex">
    <ng-container *ngIf="performance">
      <mat-tab-group #tabs class="w-full" dynamicHeight>
        <mat-tab>
          <div class="flex p-4">
            <div class="w-full">
              <h1>{{ performance.name }}</h1>
              <app-user-thumb [user]="data.performance.host"></app-user-thumb>
              <div *ngIf="myself" class="mt-3">
                <app-follow-button
                  (onFollowEvent)="data.onFollowEvent.emit('follows')"
                  [userFollowing]="userFollowing"
                  [hostId]="data.performance.host._id"
                ></app-follow-button>
              </div>
              <ui-hr></ui-hr>
              <quill-view [content]="data.performance.description" format="json" theme="snow"></quill-view>
            </div>

            <div class="w-1/3 ml-4 text-right" *ngIf="performance.tickets.length">
              <h2 i18n>Tickets</h2>
              <p class="text-lg" *ngIf="!myself" i18n>
                You must <a class="cursor-pointer" (click)="openRegister()">register</a> or
                <a class="cursor-pointer" (click)="openLogin()">log in</a>
                before being able to purchase this performance.
              </p>

              <div *ngFor="let ticket of performance.tickets">
                <!-- Only allow users to open purchase screen if they're logged in -->
                <app-performance-ticket
                  [disabled]="!myself"
                  (click)="myself && openPurchaseTicketSection(ticket)"
                  [ticket]="ticket"
                >
                </app-performance-ticket>
              </div>
            </div>
          </div>
        </mat-tab>

        <mat-tab class="relative">
          <div class="flex flex-col p-4" *ngIf="selectedTicket">
            <div class="text-center relative">
              <h4 class="opacity-50" i18n>CHECKOUT</h4>
              <h1 class="mb-0">{{ performance.name }}</h1>
              <ui-button
                (click)="openPerformanceDescriptionSection()"
                icon="arrow--left"
                class="absolute left-0 top-0"
                i18n
              >
                Back</ui-button
              >
            </div>

            <ui-hr></ui-hr>

            <ui-form class="w-1/2 place-self-center" *ngIf="selectedTicket.type == 'dono'" [form]="donoPegSelectForm">
            </ui-form>

            <app-payment-method
              #paymentMethod
              (onPaymentSuccess)="handleCardPaymentSuccess($event)"
              (onPaymentFailure)="handleCardPaymentFailure($event)"
              [smaller]="true"
              [isSelecting]="true"
            ></app-payment-method>

            <!-- Only show the button if **not** in the process of adding a new card -->
            <!-- And un-disabled when a card is selected -->
            <ui-button
              *ngIf="paymentMethod?.tabs?.selectedIndex != 1"
              (click)="confirmTicketPayment()"
              [loading]="paymentMethod?.loading"
              [disabled]="
                paymentMethod?.selectionModel?.isEmpty() ||
                paymentMethod?.loading ||
                (selectedTicket.type == 'dono' && !selectedDonoPeg)
              "
              class="ml-auto"
              kind="primary"
              size="l"
              icon="purchase"
            >
              <span *ngIf="selectedTicket.type == 'paid'">
                <span i18n>Pay</span> {{ selectedTicket.amount | currencyPipe: selectedTicket.currency }}
              </span>

              <span *ngIf="selectedTicket.type == 'dono'">
                {{
                  !selectedDonoPeg
                    ? 'Select an amount'
                    : 'Pay ' + (selectedTicket.amount | currencyPipe: selectedTicket.currency)
                }}
              </span>

              <span *ngIf="selectedTicket.type == 'free'" i18n> FREE </span>
            </ui-button>
          </div>
        </mat-tab>

        <mat-tab>
          <div class="flex flex-col p-4" *ngIf="stripePaymentIntent">
            <ng-container *ngIf="stripePaymentIntent.status === 'succeeded'">
              <h1 i18n>Thanks for your order!</h1>
              <ui-hr></ui-hr>

              <h3 i18n>
                You're going to watch "<b>{{ performance.name }}</b
                >"
              </h3>
              <br />

              <p i18n>
                <b>@{{ performance.host.username }}</b> is due to premiere this stream at
                {{ performance.premiere_datetime | amFromUnix | amDateFormat: 'LLL' }}, you'll be notified by e-mail
                before it begins.
              </p>
              <p i18n>
                Purchase confirmation will arrive at <b>{{ myself.email_address }}</b> shortly.
              </p>

              <div class="flex ml-auto">
                <!-- <ui-button
                  size="m"
                  kind="primary"
                  class="mr-2"
                  *ngIf="performance.stream.state == 'video.live_stream.active'"
                  >Watch Now</ui-button
                > -->
                <ui-button size="m" kind="primary" (click)="closeDialog()" class="mr-2" i18n>Watch Later</ui-button>
                <ui-button size="m" kind="secondary" (click)="closeDialog()" i18n>Close</ui-button>
              </div>
            </ng-container>

            <ng-container *ngIf="stripePaymentIntent.status !== 'succeeded'">
              <h1 i18n>Problem occured while purchasing ticket</h1>
            </ng-container>
          </div>
        </mat-tab>
      </mat-tab-group>
    </ng-container>
  </div>
</ui-dialog>
