<div class="landing-wrapper" *ngIf="!myself">
  <div class="dots"></div>
  <div class="landing-cover">
    <img class="landing-cover-image" src="https://images.unsplash.com/photo-1471877325906-aee7c2240b5f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" />
  </div>

  <div class="landing-cover-body">
    <div class="landing-body__main">
      <img id="eventi" src="/assets/eventi.svg" />
      <h1>Live streaming & VOD for Performance Arts</h1>
  
      <div class="landing-body__buttons">
        <ui-button kind="accent" icon="email" *ngIf="isProduction">Join the mailing list</ui-button>
        <ui-button kind="accent" icon="login" (click)="gotoLogin()" *ngIf="!isProduction">Log In</ui-button>
        <ui-button kind="primary" icon="user" (click)="gotoRegister()" *ngIf="!isProduction">Register</ui-button>
      </div>  
      <br>
    </div>

    <div class="landing-body__bottom">
      <p>
        Watch live productions from
        <span class="highlight-dark"> anywhere in the world </span>, from the comfort of your home.<br />
        A bespoke service tailored to the next generation of performance arts.
      </p>
      <div class="icons">
        <ui-icon>theater</ui-icon>
        <ui-icon>arrow--right</ui-icon>
        <ui-icon>devices</ui-icon>
      </div>

  </div>

  </div>
</div>

<app-index *ngIf="myself"></app-index>
