<div class="flex items-stretch h-full" *ngIf="host">
  <div class="bg-white rounded p-4 flex-1 w-1/5" *ngIf="!($drawerIsOpen | async)">
    <app-user-thumb [user]="host"></app-user-thumb>

    <div class="mt-4" *ngIf="myself.host_info.permissions < hostPermission.Pending">
      <div class="flex relative" *ngIf="!host.is_onboarded">
        <ui-button class="w-full mb-2" routerLink="/host/onboarding" routerLinkActive="active-link">Onboarding
        </ui-button>

        <span class="flex h-3 w-3 absolute right-0 top-0 ping">
          <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-pink-400 opacity-75"></span>
          <span class="relative inline-flex rounded-full h-3 w-3 bg-pink-500"></span>
        </span>
      </div>

      <ui-button class="w-full mb-2" routerLink="/host/performances" routerLinkActive="active-link">Performances
      </ui-button>
      <ui-button class="w-full mb-2" routerLink="/host/members" routerLinkActive="active-link">Members</ui-button>
      <ui-button class="w-full mb-2" routerLink="/host/settings" routerLinkActive="active-link">Settings</ui-button>
      <ui-button class="w-full mb-2" [routerLink]="'/host/@'+ host.username" routerLinkActive="active-link">Edit Profile
      </ui-button>
    </div>
  </div>

  <div class="w-4/5 ml-6">
    <div *ngIf="myself.host_info.permissions == hostPermission.Pending">
      <h1>Pending acceptance of invitation</h1>
      <ui-hr></ui-hr>
      <p>Please check your e-mail for the invitation link to join this host.</p>
    </div>

    <div *ngIf="myself.host_info.permissions == hostPermission.Expired">
      <h1>Invitation has expired</h1>
      <ui-hr></ui-hr>
      <p>Your invitation has expired, please request another one from a Host Admin.</p>
    </div>

    <ng-container *ngIf="myself.host_info.permissions < hostPermission.Pending">
      <router-outlet></router-outlet>
    </ng-container>
  </div>
</div>