.app-container {
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;
}

.app-content {
  height: 100vh;
  display: flex;

  .left {
    width: 20vw;
    min-width: 300px;
    app-sidebar {
      width: 100%;
    }
  }

  .right {
    position: relative;
    width: 100%;
    min-height: 100vh;  
    padding-top: 48px;//for header
    overflow: scroll;
    overflow-x: hidden;

    app-header-bar {
      width: 80vw; // 100vw - sidebar
      position: fixed;
      top: 0;
      right: 0;
    }

    .app-body {
      height: 100%;
      min-height: calc(100vh - 48px);
      padding: 10px 20px;
    }
  }
}
