.app-container {
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;
}

.app-content {
  height: 100vh;
  display: flex;
  background-color: #f7f7f7;

  .left {
    width: 80px;
    // min-width: 250px;
    app-sidebar {
      width: 100%;
    }
  }

  .right {
    position: relative;
    width: 100%;
    min-height: 100vh;  
    overflow: scroll;
    overflow-x: hidden;

    app-header-bar {
      display: block;
      height: auto;
      width: 100%;
      padding: 20px;
    }

    .app-body {
      height: 100%;
      min-height: calc(100vh - 48px);
      padding: 10px 20px;
    }
  }
}
