.user-menu {
  background-color: white;
  display: flex;
  flex-flow: column;
  transition: opacity 0.2s, height 0s;

  mat-divider {
    position: relative;
    margin-top: 10px;
    padding: 5px 0;
  }

  ::ng-deep button.mat-button {
    width: 100%;

    .mat-button-wrapper {
      width: 100%;
      justify-content: flex-start;
      text-align: left;
    }
  }

  .alt {
    display: flex;
    flex-flow: column;

    p {
      margin: 0;
      line-height: 1;

      &:last-child {
        opacity: .7;
      }
    }
  }

  .copyright {
    width: 100%;
    text-align: center;
    opacity: .3;
    margin: 0;
    margin-top: 4px;
  }
}
