node_modules
.DS_Store
logs
build
dist
.env
.env_prod
sendgrid.env
coverage
store
deploy/env/*
*.env
.env.*
!.env.example
bundle.zip
bundle.7z

environment.*
!environment.ts
google_service_account.json