<div [hidden]="selectedVideo || !initialSource || uploadComplete" class="mb-app">
  <app-player #livePlayer (onPlayerReady)="onPlayerReady($event)" size="s"> </app-player>
</div>

<div class="mb-app" [hidden]="!selectedVideo && !uploadComplete">
  <video #localPlayer controls></video>
</div>

<div class="justify-items-center mt-2">
  <ng-container *ngIf="!selectedVideo">
    <input accept="video/*" hidden (change)="onVideoSelected()" #fileSelector type="file" id="file" />
    <ui-button icon="upload" variant="primary" (click)="fileSelector.click()" class="select-file mb-2">
      {{ buttonText }}
    </ui-button>
  </ng-container>

  <div class="flex items-center">
    <ui-button
      *ngIf="selectedVideo"
      (click)="clearSelection()"
      [disabled]="uploadAsset.loading"
      variant="primary-outline"
      class="mr-app"
      i18n
    >
      Cancel
    </ui-button>

    <ui-button
      *ngIf="selectedVideo"
      (click)="uploadVideo()"
      [loading]="uploadAsset.loading"
      [disabled]="uploadAsset.loading"
      icon="upload"
      variant="primary"
    >
      <span *ngIf="uploadAsset.loading">
        <span i18n>Uploading...</span>
        ({{ uploadAsset.meta.upload_percent }}%)
      </span>

      <span *ngIf="!uploadAsset.loading" i18n>Upload</span>
    </ui-button>
  </div>

  <div class="mt-2" *ngIf="uploadAsset.error">
    <mat-error>{{ uploadAsset.error }}</mat-error>
  </div>
</div>
