<ui-dialog>
  <img src="/assets/logo.svg" class="max-w-md mx-auto my-5">

  <div class="flex text-center">
    <div class="flex-1 flex flex-col">
      <h2>Watch</h2>
      <p class="pb-2">
        If you are an audience member looking to watch performing arts content:
      </p>
      <ui-button class="text-center mt-auto mx-auto" size="l" kind="primary" (click)="gotoClientLanding()">
        <ui-icon class="mr-2">play</ui-icon>Continue to Watch...
      </ui-button>
    </div>

    <div class="flex-1 flex flex-col">
      <h2>Create</h2>
      <p class="pb-2">
        If you are a creator looking to upload content onto StageUp:
      </p>
      <ui-button class="text-center mt-auto mx-auto" size="l" kind="primary" (click)="goToHostLanding()">
        <ui-icon class="mr-2">video--add</ui-icon>Continue to Create...
      </ui-button>
    </div>
  </div>
</ui-dialog>
