<ui-dialog>
  <img src="/assets/logo-banner.png" class="max-w-md mx-auto my-5" />

  <p class="mx-10 text-center mb-10 text-xl" i18n>
    The all-in-one platform for consuming & creating performing arts content!<br />Please select the option for which
    best suits your intended usage of StageUp.
  </p>

  <div class="flex text-center space-x-8 pb-6">
    <div class="flex-1 flex flex-col items-center">
      <h2 i18n>I want to Watch</h2>
      <p class="pb-2 w-2/3" i18n>If you are an audience member looking to watch performing arts content:</p>
      <ui-button
        class="text-center mt-auto mx-auto"
        buttonStyle="primary-l"
        (click)="gotoClientLanding()"
        icon="play"
        i18n
        >Continue to Watch...
      </ui-button>
    </div>

    <div class="flex-1 flex flex-col items-center">
      <h2 i18n>I want to Create</h2>
      <p class="pb-2 w-2/3">If you are a creator looking to upload content onto StageUp:</p>
      <ui-button
        class="text-center mt-auto mx-auto"
        buttonStyle="primary-l"
        (click)="goToHostLanding()"
        icon="video--add"
        >Continue to Create...
      </ui-button>
    </div>
  </div>
</ui-dialog>
