.header-container {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 999;
  background: transparent;
  overflow: visible;
  .right {
    display: flex;
    align-items: center;
  }
}

.header-upload {
  border-radius: var(--space-lg);
  overflow: hidden;
  margin-right: var(--space-lg);
}

.header-search {
  display: flex;
  align-items: center;
  margin-right: var(--space-lg);
  ui-icon {
    margin-right: var(--space);
  }
  ui-input {
    ::ng-deep mat-form-field {
      margin-bottom: 0 !important;
    }
  }
}

.header-notification {
  margin-right: var(--space-lg);
}

.header-user {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-sm);
  border-radius: 44px;
  &:hover {
    cursor: pointer;
    background-color: var(--clr-base);
  }
  img {
    width: 44px;
    height: 44px;
    // max-height: 100%;
    // width: auto;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
  }
  span {
    margin: 0 var(--space-sm) 0 var(--space);
  }
  ui-icon {
    opacity: 0.2;
    margin-right: var(--space-sm);
  }
}
