<div class="flex flex-row items-center mb-5">
  <h2 class="mb-0" i18n>Ticketing</h2>
  <mat-spinner class="ml-5" [diameter]="50" *ngIf="tickets.loading"></mat-spinner>
  <ui-button class="ml-auto" (click)="openCreateTicketDialog()" kind="primary" icon="add" i18n
    >Create Ticket
  </ui-button>
</div>
<ui-hr></ui-hr>

<table mat-table [dataSource]="ticketsDataSrc" class="w-full">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef i18n>Name</th>
    <td mat-cell *matCellDef="let ticket">
      {{ ticket.name }}
      <ui-chip *ngIf="!ticket.is_visible" i18n>HIDDEN</ui-chip>
    </td>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef i18n>Quantity</th>
    <td mat-cell *matCellDef="let ticket">
      {{ ticket.quantity === ticketLimitUnlimited ? "unlimited" : ticket.quantity}}
      <ui-chip *ngIf="ticket.is_quantity_visible == false" i18n>HIDDEN</ui-chip>
    </td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef i18n>Price</th>
    <td mat-cell *matCellDef="let ticket">
      <ng-container *ngIf="ticket.type == 'dono'">
        <span *ngIf="ticket.dono_pegs.length == 0" i18n>No donation pegs selected</span>
        <ui-chip *ngFor="let peg of ticket.dono_pegs" [kind]="donoPegChipMap[peg]">
          {{ peg == 'allow_any' ? 'Allow any' : (peg | donoPegPipe: ticket.currency) }}
        </ui-chip>
      </ng-container>

      <ng-container *ngIf="ticket.type == 'paid'">
        <ui-chip kind="warm-grey">{{ ticket.amount | currencyPipe: ticket.currency }}</ui-chip>
      </ng-container>

      <ng-container *ngIf="ticket.type == 'free'">
        <ui-chip kind="green" i18n>FREE</ui-chip>
      </ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef i18n>Actions</th>
    <td mat-cell *matCellDef="let ticket">
      <ui-button kind="accent" class="mr-2" (click)="openUpdateTicketDialog(ticket)">
        <ui-icon>edit</ui-icon>
      </ui-button>
      <ui-button kind="danger" (click)="openDeleteTicketDialog(ticket)">
        <ui-icon>delete</ui-icon>
      </ui-button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-slide-toggle class="mt-4" [checked]="hideTicketQuantities" (change)="onToggleTicketsQtyVisibility($event)" i18n>
  Hide all tickets quantity visiblility
</mat-slide-toggle>
