@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';
@import "~@ctrl/ngx-emoji-mart/picker";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

@import 'tailwindcss/base';
@import 'tailwindcss/components';

// @import './custom-tailwind/custom-components.css'; // added

@import 'tailwindcss/utilities';

// @import './custom-tailwind/custom-utilities.css'; // added


* {
  box-sizing: border-box;
}
html {
  background-color: #000;
}
body {
  background-color: white;
}

html,
body {
  font-size: var(--fs-base);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

b {
  font-weight: bold;
}
