<div class="ui-input-wrapper" [class.ui-input-wrapper--has-icon]="icon">
  <!-- Input -->
  <div
    (clickOutside)="togglePasswordVisibility(false)"
    (click)="input.select()"
    class="form-field"
    [class.form-field--is-active]="focused"
    [class.form-field--is-filled]="value !== ''"
    [class.form-field--is-small]="!label"
    [class.form-field--is-errored]="showError"
    *ngIf="type == 'number' || type == 'text' || type == 'password' || type == 'phone'">
    <div class="form-field__control">
      <ui-icon *ngIf="icon">{{ icon }}</ui-icon>
      <label *ngIf="label"
        [for]="formControlName || ''"
        class="form-field__label">{{ label }}<span>{{ required ? "*" : ""}}</span></label>
      <input
        #input
        [(ngModel)]="value"
        [validation]="true"
        (blur)="onTouched()"
        (focus)="onFocus()"
        [id]="formControlName || ''"
        [disabled]="disabled"
        [placeholder]="placeholder"
        [type]="type == 'password' ? (passwordVisible ? 'text' : 'password') : (type == 'phone' ? 'tel' : type)"
        [mask]="type == 'phone' ? '(000) 000-0000' : ''"
        [required]="required"
        tabindex="0"
        autocomplete="off"
        class="form-field__input" />
        <div class="form-field__password" *ngIf="type == 'password'">
          <ui-icon-button size="m" (click)="togglePasswordVisibility(false, $event)" *ngIf="passwordVisible"><ui-icon>view--filled</ui-icon></ui-icon-button>
          <ui-icon-button size="m" (click)="togglePasswordVisibility(true, $event)" *ngIf="!passwordVisible"><ui-icon>view--off--filled</ui-icon></ui-icon-button>  
        </div>
      </div>
  </div>

  <!-- Textarea -->
  <div
    (click)="textarea.select()"
    class="form-field"
    [class.form-field--is-active]="focused"
    [class.form-field--is-filled]="value !== ''"
    [class.form-field--is-small]="!label"
    [class.form-field--is-errored]="showError"
    *ngIf="type == 'textarea'">
    <div class="form-field__control">
      <ui-icon *ngIf="icon">{{ icon }}</ui-icon>
      <label *ngIf="label"
        [for]="formControlName || ''"
        class="form-field__label">{{ label }}</label>
      <textarea
        #textarea
        [(ngModel)]="value"
        (blur)="onTouched()"
        (focus)="onFocus()"
        [id]="formControlName || ''"
        [disabled]="disabled"
        [placeholder]="placeholder"
        tabindex="0"
        autocomplete="off"
        class="form-field__textarea"></textarea>
    </div>
  </div>

  <!-- Field length indicators -->
  <!-- <div class="form-field_lengths" *ngIf="maxlength || minlength" >
    {{ maxlength }} / {{ value?.length }} /  {{ minlength }}
  </div> -->


  <!-- Number input -->
  <!-- <div class="ui-input-number-buttons" *ngIf="type == 'number'">
    <ui-icon-button (click)="increment($event)">caret--up</ui-icon-button>
    <ui-icon-button (click)="decrement($event)">caret--down</ui-icon-button>
  </div> -->

  <!-- Checkboxes -->
  <mat-form-field
    *ngIf="type == 'checkbox'"
    class="ui-input"
    appearance="fill"
    [class.errored]="showError"
    [class.hasHint]="hint"
    [class.dark]="kind == 'secondary'"
    [class.small]="!label"
    [class.checkbox]="type == 'checkbox'">
    <mat-label *ngIf="label && type !== 'checkbox'">{{ label }}</mat-label>
    <mat-checkbox matInput *ngIf="type == 'checkbox'" [(ngModel)]="value">{{label}}</mat-checkbox>
    <!-- stop formcontrolname throwing errors -->
    <input matInput placeholder="Input" style="display: none" >
  </mat-form-field>


  <mat-form-field *ngIf="type == 'select'">
    <mat-label>{{ label || "Select option"}}</mat-label>
    <mat-select #selector id="special"
        [disabled]="disabled"
        [required]="required"
        [value]="!checklistSelection.isEmpty() ? 'always_exist' : null">
        <!-- show selection text - name (+n others) -->
        <mat-select-trigger>
            <ng-container *ngIf="!checklistSelection.isEmpty()">
                <span>{{ checklistSelection.selected[0].name }}</span>
                <span [ngPlural]="checklistSelection.selected.length - 1" class="additional-selection">
                    <ng-template ngPluralCase="=0"></ng-template>
                    <ng-template ngPluralCase="=1">(+1 other)</ng-template>
                    <ng-template ngPluralCase="other">(+{{ checklistSelection.selected.length - 1 }} others)</ng-template>
                </span>    
            </ng-container>
        </mat-select-trigger>

        <!-- make the select actually open -->
        <mat-option style="display: none;" value="always_exist"></mat-option>

        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <mat-tree-node
                (click)="leafNodeItemSelectionToggle(node)"
                *matTreeNodeDef="let node"
                matTreeNodeToggle matTreeNodePadding matTreeNodePaddingIndent="27">
                <button *ngIf="!noNestedNodes" mat-icon-button disabled></button>
                <ui-icon *ngIf="node.icon">{{ node.icon }}</ui-icon>
                <mat-checkbox class="checklist-leaf-node" *ngIf="!noNestedNodes" disableRipple
                    (click)="$event.preventDefault()"
                    [checked]="checklistSelection.isSelected(node)"
                    (change)="leafNodeItemSelectionToggle(node)">
                </mat-checkbox>
                <p>{{node.name}}<span *ngIf="showId"> {{node._id.substr(-6)}}</span></p>
            </mat-tree-node>

            <mat-tree-node
                (click)="rootNodeSelectionToggle(node)"
                class="root-node"
                *matTreeNodeDef="let node; when: hasChild"
                matTreeNodePadding matTreeNodePaddingIndent="27">
                <button mat-icon-button matTreeNodeToggle disableRipple
                    (click)="untoggleAll(node)"
                    [disabled]="!treeControl.isExpandable(node)">
                    <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                </button>
                <mat-checkbox *ngIf="!noNestedNodes" disableRipple
                    (click)="$event.preventDefault()"
                    [checked]="checklistSelection.isSelected(node) || descendantsAllSelected(node)"
                    [indeterminate]="descendantsPartiallySelected(node)"
                    (change)="rootNodeSelectionToggle(node)">
                </mat-checkbox>
                <p>{{node.name}}<span *ngIf="showId"> {{node._id.substr(-6)}}</span></p>
            </mat-tree-node>
        </mat-tree>
    </mat-select>
  </mat-form-field>

  <!-- Hint message -->
  <span *ngIf="hint && !showError" class="form-field__hint">{{ hint }}</span>

  <!-- Form errors -->
  <div *ngIf="showError" class="form-field__errors" [class.shiftMore]="hint">
    <span *ngFor="let error of errors">{{ error }}</span>
  </div>
</div>
