::ng-deep .mat-form-field-flex {
  &:hover {
    cursor: text;
  }
}
.small {
  max-height: 40px;
  margin-bottom: 10px;
  ::ng-deep {
    .mat-form-field-wrapper,
    .mat-form-field-flex {
      height: 40px;

      .mat-form-field-infix {
        padding: 0;
      }
    }
    .mat-form-field-flex {
      padding: 0 10px 0 5px;
    }
    .mat-form-field-underline {
      bottom: 0;
    }
  }
}

.ui-input {
  position: relative;
  .ui-input-number-buttons {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    flex-flow: column;
    ui-icon-button {
      height: 50%;
    }
  }
}

.checkbox ::ng-deep {
  .mat-form-field-infix {
    padding: 0;
    border: 0;
  }
  .mat-form-field-flex {
    padding: 0;
    background: transparent;
  }
  .mat-form-field-underline {
    display: none;
  }
}

.form-errors {
  margin-top: -12px;
  margin-left: 10.5px;
  margin-bottom: 10px;
  display: flex;
  flex-flow: column;
  &.shiftMore {
    margin-bottom: 18.125px;
    margin-top: -30px;
  }
  span {
    color: red;
    font-size: 10.5px;
    line-height: 0.9;
    margin-bottom: 3px;
  }
}

.ui-input {
  &.hasHint {
    margin-bottom: 1.34375em;
  }
  
  &.errored {
    ::ng-deep {
      .mat-form-field-ripple {
        transform: none !important;
        opacity: 1 !important;
        height: 2px !important;
        background-color: #f44335 !important;
      }
    }
  
    &.mat-focused {
      ::ng-deep {
        .mat-form-field-wrapper .mat-form-field-flex {
          border: 2px solid #f44335 !important;
        }
      }
    }
  }  
}

