@import "~src/styles/variables";

ui-icon {
  margin-right: 10px;
}

::ng-deep button {
  min-height: 40px;
  border-radius: 5px !important;
  overflow: hidden;

  &.mat-button {
    border: 1px solid rgba($color: #000000, $alpha: 0);
    transition: 0.1s;
    box-sizing: border-box;
    font-weight: normal;
    min-width: 0px;

    .mat-button-wrapper {
      min-width: 0px;
      width: 100%;
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
    }

    &.mat-primary {
      background-color: $clr-primary;
      color: white;
      &:hover { background-color: $clr-primary-dk }
      &:focus {
        // box-shadow: inset 0 0 0 1px $clr-primary-dk, inset 0 0 0 2px white;
      }
    }

    &.mat-secondary {
      background: $clr-secondary;
      color: white;
      &:hover { background-color: $clr-secondary-lt; }
      &:focus { 
        // box-shadow: inset 0 0 0 1px $clr-secondary, inset 0 0 0 2px white;
       }
    }

    &.mat-accent {
      color: $clr-primary;
      border: 1px solid $clr-primary;
      ::ng-deep .mat-spinner circle { stroke: $clr-primary !important; }    

      &:hover {
        background-color: $clr-primary;
        color: $clr-ntrl-min;
        ::ng-deep .mat-spinner circle { stroke: white !important; }    
       }
    }

    &.mat-warn {
      background: $clr-bug;
      color: white;

      &:hover { background: $clr-red-drk }

    }
  }

  &:disabled {
    opacity: 0.5;
  }

  &.fullWidth {
    width: 100%;
    ::ng-deep .mat-button-wrapper {
      justify-content: flex-start !important;
    }
  }



  ::ng-deep .mat-spinner {
    display: inline-block;
    margin-right: 15px;

    circle {
      stroke: white;
    }

    opacity: 0.7;
  }

  &.isTransparent {
    background: transparent !important;
  }

  &.mat-accent {
    ::ng-deep .mat-spinner circle {
      stroke: black !important;
    }

    &:disabled {
      ::ng-deep .mat-spinner circle {
        stroke: rgb(159, 159, 159) !important;
      }
    }
  }

  &.small {
    padding: 2px 5px 2px 0;
    border-radius: 4px !important;
    font-size: 12px;
    font-weight: 500;
    line-height: 0;
    min-height: 30px;

    mat-spinner {
      margin-left: 7px;
    }
    ui-icon {
      transform: scale(0.8);
      margin-right: 4px;
      margin-left: 4px;
    }
  }

  &.med {
    padding: 8px 16px;
  }

  &.large {
    font-size: 18px;
    padding: 16px 48px 16px 16px;
  }
}
