<div class="page-loader" [class.loading]="showCurtain">
  <img src="/assets/logo.png" class="animate-bounce" />

  <ng-container *ngIf="loadError">
    <h3 class="my-4" i18n>Somethings gone wrong :(</h3>
    <code class="max-w-lg opacity-50">{{ loadError }}</code>
  </ng-container>
</div>

<div *ngIf="!loading">
  <router-outlet></router-outlet>

  <app-cookies-consent
    *ngIf="!hasCookiePolicySet"
    class="fixed left-8 bottom-8 z-50 rounded-md overflow-hidden shadow-2xl w-2/3 mx-auto"
  ></app-cookies-consent>
</div>
