.host-message {
  top: 0;
  left: 0;
}

.user-message {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;

  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  width: 50%;
  height: 50%;
  margin: auto !important;
}
