<div class="flex justify-end items-center mt-5">
  <ui-form [form]="periodForm"></ui-form>
</div>

<div class="grid gap-3 grid-cols-3 w-full">
  <ng-container *ngFor="let entity of snapshot | keyvalue">
    <app-host-analytics-header-item
      class="m-1"
      *ngFor="let item of entity.value.header_items | keyvalue"
      [ref]="entity.key"
      [item]="item.value"
      [type]="item.key"
      [loading]="entity.value.loading"
    >
    </app-host-analytics-header-item>
  </ng-container>
</div>
