<!-- Primary image -->
<div class="mb-8">
  <h3 i18n>Primary image <span class="text-red-500">*</span></h3>
  <p i18n>The main image for your event.</p>

  <div
    class="relative flex items-center justify-center rounded-lg thumbnail-image overflow-hidden"
    [ngClass]="{ 'bg-grey': !primaryThumbnail }"
  >
    <ui-icon *ngIf="!primaryThumbnail" [size]="50">image</ui-icon>
    <ui-button (click)="changePrimaryThumbnail()" class="absolute top-2 right-2" icon="paint-brush--alt" variant="dark">
      <span *ngIf="primaryThumbnail" i18n>Edit</span>
      <span *ngIf="!primaryThumbnail" i18n>Add</span>
    </ui-button>
    <img class="object-cover" *ngIf="primaryThumbnail" [src]="primaryThumbnail.location" alt="" />
  </div>
</div>

<!-- Additional Thumbnails -->
<h3 i18n>Secondary images</h3>
<p i18n>These images will be shown on your event's brochure.</p>

<div class="flex overflow-x-scroll">
  <div
    *ngFor="let index of THUMBNAIL_LIMIT - 1 | times"
    class="relative flex items-center justify-center rounded-lg thumbnail-image overflow-hidden mr-app"
    [ngClass]="{ 'bg-grey': !secondaryThumbnails[index] }"
  >
    <ui-icon *ngIf="!secondaryThumbnails[index]" [size]="50">image</ui-icon>
    <ui-button
      (click)="changeSecondaryThumbnail(index)"
      class="absolute top-2 right-2"
      icon="paint-brush--alt"
      variant="dark"
    >
      <span *ngIf="secondaryThumbnails[index]" i18n>Edit</span>
      <span *ngIf="!secondaryThumbnails[index]" i18n>Add</span>
    </ui-button>
    <img
      class="w-full object-cover"
      *ngIf="secondaryThumbnails[index]"
      [src]="secondaryThumbnails[index].location"
      alt=""
    />
  </div>
</div>
