<div class="ui-dialog" [class.ui-dialog--small]="small">
  <ui-icon
    *ngIf="cancel && cancel.emit"
    (click)="cancel.emit()"
    class="absolute top-2 right-2 cursor-pointer opacity-60"
    size="l"
    >close</ui-icon
  >
  <div class="ui-dialog--spinner" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="ui-dialog--content" [class.no-padding]="noPadding">
    <ng-container *ngIf="title">
      <h2 class="mb-0">{{ title }}</h2>
      <ui-hr></ui-hr>
    </ng-container>

    <ng-content></ng-content>

    <ui-dialog-buttons class="mt-app" [small]="small" [dialogRef]="dialogRef" [buttons]="buttons"></ui-dialog-buttons>
  </div>
</div>
