mat-tab-group {
  max-height: 49px;
  overflow: hidden;
  ::ng-deep {
    mat-ink-bar {
      background-color: #f72485 !important;
    }

    .mat-tab-label-active {
      color: black !important;
    }
  }
}

