<ul *ngIf="field.issues.length" class="mt-2 list-disc">
  <li *ngFor="let issue of field.issues; let i = index"
    class="flex items-center justify-between hover:bg-white rounded">
    <!-- tailwind is being a piece of shit and not putting the list-disc in -->
    <span class="ml-4">&bull;&nbsp; {{ issue }}</span>
    <button mat-icon-button class="ml-auto" (click)="removeIssue(i)">
      <mat-icon>clear</mat-icon>
    </button>
  </li>
</ul>

<div class="flex align-center mt-2" *ngIf="isActive">
  <ui-input #input class="flex-1" [data]="inputOptions" [(ngModel)]="currentIssueText" (keyup.enter)="addIssue()">
  </ui-input>

  <ui-button kind="primary" class="ml-4 mt-0.5" [disabled]="currentIssueText == ''" (click)="addIssue()">
    <ui-icon>add</ui-icon>
  </ui-button>
</div>