<div class="dialog-container">
<div class="dialog-wrapper">
  <h1>Add dashboard item</h1>

  <h3>Enter item details</h3>
  <mat-form-field appearance="fill">
    <mat-label>Chart title</mat-label>
    <input
        [(ngModel)]="dashItem.title"
        matInput
        required
        type="text"
        autocomplete="off" />
        <mat-error>Title is required</mat-error>
  </mat-form-field>

  <div class="dimensions-input-wrapper">
    <mat-form-field appearance="fill">
      <mat-label>Width</mat-label>
      <input
          [(ngModel)]="dashItem.position.width"
          matInput
          required
          type="number"
          autocomplete="off" />
          <mat-error>Width is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Height</mat-label>
      <input
        [(ngModel)]="dashItem.position.height"
          matInput
          required
          type="number"
          autocomplete="off" />
          <mat-error>Height is required</mat-error>
    </mat-form-field>
  </div>

  <!-- <h3>Select a chart type</h3>
  <div class="chart-type-select-wrapper">
    <div
      class="chart-type-select"
      *ngFor="let chart of chartTypes | keyvalue: asIsOrder"
      (click)="setChartType(chart.key)">
      <mat-checkbox [checked]="chart.value.selected" (click)="$event.preventDefault()"></mat-checkbox>
      <div>
        <ui-icon>{{ chart.value.icon }}</ui-icon>
        <p>{{ chart.key | titlecase }}</p>
      </div>
    </div>
  </div> -->

</div>

<ui-dialog-buttons
  leftString="Cancel"
  rightString="Save"
  [leftDisabled]="false"
  [rightDisabled]="loading"
  (leftClick)="cancel()"
  (rightClick)="addItem()">
</ui-dialog-buttons>


<ui-overlay-spinner *ngIf="loading"></ui-overlay-spinner>

</div>
