<div class="footer" *ngIf="!small">
  <div class="top">
    <h2><b>mcn</b></h2>
    <span>daughter.systems 2020</span>
  </div>
  <div class="bottom">
    <div class="bottom-content">
      <div>
        <a href="">Contribute</a>
        <a href="">Terms of use</a>
        <a href="">Privacy</a>
        <a href="">Documentation</a>
      </div>

      <div>
        <a href="">Twitter</a>
      </div>

      <div>
        <i>God Almighty first planted a garden. And indeed, it is the purest of human pleasures.</i>
        <br/>
        <span>— Francis Bacon</span>
      </div>
    </div>

    <img id="ds" src="/assets/ds.png" />
  </div>
</div>

<div class="footer-small" *ngIf="small">
  <div class="left">
    <img id="ds" src="/assets/ds.png" />
    <span>daughter.systems 2020</span>
  </div>

  <div class="right">
    <ui-icon-button size="l">logo--twitter</ui-icon-button>
  </div>
</div>
