.footer {
  &.small {
    .bottom {
      display: none;
    }
  }
}

.top,
.bottom {
  padding: 10px;
  padding-left: 100px;
  padding-right: 100px;
  color: white;
}

.top {
  background-color: #262626;
  h2 {
    margin: 0;
  }
}
.bottom {
  background-color: #000;
  padding: 20px 100px;
  height: 300px;
  #ds {
    filter: invert(1);
    width: 80px;
    margin-top: 40px;
  }
  .bottom-content {
    display: flex;
    div {
      width: 200px;
      display: flex;
      flex-flow: column;
      &:last-child {
        width: 300px;
      }
      a {
        color: white;
        line-height: 1.5;
        text-decoration: none;
      }
    }
  }
}

.footer-small {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #262626;
  padding: 30px 30px;

  .left {
    display: inline-flex;
    align-items: center;
    img {
      max-height: 48px;
      filter: invert(1);
      margin-right: 20px;
    }
  }
}
