<app-page class="register-wrapper">
    <div *ngIf="!success">
        <h1 class="mat-display-1">Register</h1>

        <form [formGroup]="registerForm" [hidden]="success" (ngSubmit)="submitHandler()">
            <mat-form-field appearance="fill">
                <mat-label type="email">Username</mat-label>
                <input matInput type="text" formControlName="username" minLength="4" maxlength="{{ field_max_len }}"
                    autocomplete="off" />
                <mat-hint align="end">{{ username.value?.length || 0 }}/{{ field_max_len }}</mat-hint>
                <mat-error *ngIf="!errors.username && !username.value">Username is required</mat-error>
                <mat-error *ngIf="!errors.username && registerForm.hasError('usernameForbidden')">Username must only
                    contain letters and numbers</mat-error>
                <mat-error *ngIf="errors.username">{{ errors.username }}</mat-error>
            </mat-form-field>

            <br />
            <br />

            <mat-form-field appearance="fill">
                <mat-label type="email">E-mail address</mat-label>
                <input matInput type="text" formControlName="email" autocomplete="off" />
                <mat-error *ngIf="!errors.email && email.invalid && email.touched">E-mail is required</mat-error>
                <mat-error *ngIf="errors.email">{{ errors.email }}</mat-error>
            </mat-form-field>

            <br />

            <mat-form-field appearance="fill">
                <mat-label type="password">Password</mat-label>
                <input matInput type="password" formControlName="password" maxlength="{{ field_max_len }}"
                    minLength="{{ pw_min_len }}" (input)="onPasswordInput()" autocomplete="off" />
                <mat-hint align="end">{{ password.value?.length || 0 }}/{{ field_max_len }}</mat-hint>
                <mat-error *ngIf="
            !errors.password &&
            password.value.length < pw_min_len &&
            password.touched
          ">Password must be greater than {{ pw_min_len }} characters</mat-error>
                <mat-error *ngIf="errors.password">{{ errors.password }}</mat-error>
            </mat-form-field>

            <br />
            <br />


            <mat-form-field appearance="fill">
                <mat-label type="password">Confirm password</mat-label>
                <input matInput type="password" formControlName="confirmation" (input)="onPasswordInput()"
                    autocomplete="off" />
                <mat-error *ngIf="
            confirmation.touched && password.touched && confirmation.invalid
          ">Passwords do not match</mat-error>
            </mat-form-field>

            <br />

            <div class="sign-in-buttons">
                <ui-button variant="primary" [disabled]="registerForm.invalid || loading" [loading]="loading">
                    <span>{{ registerButtonText }}</span>
                </ui-button>
            </div>

            <mat-error class="form" *ngIf="errors.form">{{ errors.form }}</mat-error>
        </form>
    </div>

    <div *ngIf="success">
        <h1 class="mat-display-1">Account created!</h1>
        <p>a verification e-mail has been sent to your email address</p>
    </div>
</app-page>