<app-page class="register-wrapper">
    <h1 class="mat-display-1">Register</h1>

    <form [formGroup]="registerForm" (ngSubmit)="submitHandler()">
        <mat-form-field appearance="fill">
            <mat-label type="email">Username</mat-label>
            <input matInput type="text" formControlName="username" [minLength]="fieldMinLength" [maxLength]="fieldMaxLength"
                autocomplete="off" />
            <mat-hint align="end">{{ username.value?.length || 0 }}/{{ fieldMaxLength }}</mat-hint>
            <mat-error *ngIf="!errors.username && !username.value">Username is required</mat-error>
            <mat-error *ngIf="!errors.username && registerForm.hasError('usernameForbidden')">Username must only
                contain letters and numbers</mat-error>
            <mat-error *ngIf="errors.username">{{ errors.username }}</mat-error>
        </mat-form-field>

        <br />
        <br />

        <mat-form-field appearance="fill">
            <mat-label type="email">E-mail address</mat-label>
            <input matInput type="text" formControlName="email_address" autocomplete="off" />
            <mat-error *ngIf="!errors.email_address && email.invalid && email.touched">E-mail is required</mat-error>
            <mat-error *ngIf="errors.email_address">{{ errors.email_address }}</mat-error>
        </mat-form-field>

        <br />

        <mat-form-field appearance="fill">
            <mat-label type="password">Password</mat-label>
            <input matInput type="password" formControlName="password" [maxlength]="fieldMaxLength"
                [minLength]="fieldMinLength" (input)="onPasswordInput()" autocomplete="off" />
            <mat-hint align="end">{{ password.value?.length || 0 }}/{{ fieldMaxLength }}</mat-hint>
            <mat-error *ngIf="
            !errors.password &&
            password.value.length < fieldMinLength &&
            password.touched
          ">Password must be greater than {{ fieldMinLength }} characters</mat-error>
            <mat-error *ngIf="errors.password">{{ errors.password }}</mat-error>
        </mat-form-field>

        <br />
        <br />


        <mat-form-field appearance="fill">
            <mat-label type="password">Confirm password</mat-label>
            <input matInput type="password" formControlName="confirmation" (input)="onPasswordInput()"
                autocomplete="off" />
            <mat-error *ngIf="
            confirmation.touched && password.touched && confirmation.invalid
          ">Passwords do not match</mat-error>
        </mat-form-field>

        <br />

        <div class="sign-in-buttons">
            <ui-button variant="primary" [disabled]="registerForm.invalid || register.loading" [loading]="register.loading">
                <span>{{ registerButtonText }}</span>
            </ui-button>
        </div>

        <mat-error class="form" *ngIf="errors.form">{{ errors.form }}</mat-error>
    </form>
</app-page>