.no-orgs {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;

  mat-icon {
    font-size: 70px;
  }

  h1 {
    margin: 20px 0 10px 0;
  }
}

.index-body {
  mat-tab-group {
    padding: 0 40px;
  }
  position: relative;
  z-index: 1;
  display: flex;
  flex-flow: column;
  .index-body-outlet {
    z-index: 9;
    position: relative;
  }
  .left {
    width: 60%;
  }
  .right {
    width: 40%;
  }
}

mat-tab-group {
  width: 100%;
}

.dashboard-item {
  width: 100%;
  height: 100%;
  margin: 10px;
  background-color: red;
}
