.page-container {
  padding: 20px;
  margin-top: 50px;
  width: 60vw;
  margin: 20px auto;
  h1:first-of-type {
    font-weight: bold;
  }

  .content-wrapper {
    display: flex;
  }

  .left {
    max-width: 20vw;
    h1 {
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
  .right {
    margin-top: 7px;
    margin-left: 50px;
    flex: 1;
  }
}
