<!-- <ui-section-header title="Hydroponics" subtitle="View farms, racks & crops"></ui-section-header> -->

<div class="list-wrapper">
  <div class="farms-section-wrapper" [class.smaller]="isOutletting">
    <div class="farms-section-header">
      <h1>Farms</h1>
      <ui-button variant="secondary" [class.hidden]="isOutletting"><ui-icon>add</ui-icon> Add farm</ui-button>
    </div>

    <div class="farm-cards-wrapper" [class.smaller]="isOutletting">
      <div class="farm-card" *ngFor="let farm of farms.data" [class.selected]="selectedFarm == farm._id">
        <div class="card-header">
          <ui-icon-button class="card-options-button" size="m">overflow-menu--vertical</ui-icon-button>
          <div class="card-emoji-container">
            🌱
          </div>
          <div class="card-title">
            <h3>{{ farm.name }}</h3>
            <span>Created: {{ farm.created_at | amTimeAgo }}</span>
          </div>
        </div>

        <div class="card-image">
          <img src="https://i.imgur.com/IeelZfV.jpg">
          <span class="feed-overlay">Taken: 13:40</span>
        </div>

        <div class="card-actions">
          <ui-button (click)="openFarmDetail(farm)" variant="primary">Open farm&nbsp;<ui-icon>view</ui-icon></ui-button>
        </div>
      </div>
    </div>
  </div>

  <div class="farm-info-wrapper" *ngIf="isOutletting">
    <router-outlet></router-outlet>
  </div>

</div>

