::ng-deep{
    .chip{
        border-radius: 4px !important;
    }

    .share-links:hover ui-button button{
        margin-right: 0.5rem
    }

    .share-links:hover ui-button button ui-icon{
        color: #E47290;
    }
}

.date-chip h4{
    opacity: 1;
}

.share-links:hover app-social-sharing {
    opacity: 1;
    transform: translateX(0);
}

ui-button {
    z-index: 1;
}

app-social-sharing {
    transform: translateX(-50px);
    opacity: 0;
    transition: 0.3s ease all;
}

h3{
    font-size: 20px
}

.dashboard-label{
    color: '#17A2B8'
}