<div body>
  <!-- copy and share event link -->
  <div class="flex">
    <div class="bg-white rounded-md w-72 h-9.5">
      <app-copy-box [textToBeCopied]="eventURL"></app-copy-box>
    </div>
    <div class="flex ml-3 share-links">
      <ui-button height="50px" kind="primary-light"><ui-icon>share</ui-icon></ui-button>
      <app-social-sharing kind="primary" [url]="eventURL"></app-social-sharing>
    </div>
  </div>

  <!-- welcome banner -->
  <div *ngIf="numberOfHostEvents == 1" class="clear-both relative mb-1">
    <img [src]="'/assets/event-welcome-banner.svg'" class="w-full rounded" alt="" />

    <!-- set schedule -->
    <div *ngIf="isPendingSchedule" class="flex flex-col pl-40 mt-10 absolute inset-0">
      <h3 class="text-white opacity-100" i18n>Congratulations, your created your first event.</h3>
      <ui-button
        [routerLink]="'/dashboard/events/' + performance.data.data._id"
        kind="clear-outline"
        icon="calendar"
        i18n
        >Set Schedule</ui-button
      >
    </div>

    <!-- TODO: replace with copy-box reusable component -->
    <!-- copy and share event link -->

    <div *ngIf="!isPendingSchedule" class="flex flex-col pl-48 mt-10 absolute inset-0">
      <h3 class="text-white opacity-100" i18n>
        Congratulations, your first event is ready. Share it with your audience.
      </h3>
      <p class="text-white mb-1" i18n>Share your event's link</p>
      <div class="flex">
        <div class="bg-white rounded-md w-72 h-9.5">
          <app-copy-box [textToBeCopied]="eventURL"></app-copy-box>
        </div>
        <div class="flex ml-3 share-links">
          <ui-button height="50px" kind="primary-light"><ui-icon>share</ui-icon></ui-button>
          <app-social-sharing kind="primary" [url]="eventURL"></app-social-sharing>
        </div>
      </div>

      <popper-content #shareMenu class="share-menu" (click)="$event.stopPropagation()">
        <app-social-sharing [url]="eventURL"></app-social-sharing>
      </popper-content>
    </div>
  </div>

  <app-host-event-analytics-graphs [eventId]="performance.data.data._id"></app-host-event-analytics-graphs>

  <!-- schedule, visibility and status -->
  <div class="grid gap-2 grid-cols-3 w-full overflow-x-scroll mt-2">
    <div class="flex flex-col">
      <h4 class="m-4 text-black font-bold" i18n>Visibility</h4>
      <div class="flex-1 bg-white border-2 border-gray-200 rounded-2xl p-4 relative text-center">
        <h3 class="my-12 text-blue-400">{{ performance.data.data.visibility | visibility }}</h3>
      </div>
    </div>
    <div class="flex flex-col">
      <h4 class="m-4 text-black font-bold" i18n>Event Visibility Schedule</h4>
      <div class="flex-1 bg-white border-2 border-gray-200 rounded-2xl p-4 relative">
        <ui-button
          *ngIf="isPendingSchedule"
          [routerLink]="'/dashboard/events/' + performance.data.data._id"
          class="mx-16 my-12"
          kind="primary"
          icon="calendar"
          i18n
          >Set Schedule</ui-button
        >
        <div *ngIf="!isPendingSchedule" class="grid grid-cols-2 gap-4">
          <div class="flex-col rounded-lg p-2 date-chip text-white">
            <h4 i18n>Start</h4>
            <h4>
              {{ locale == 'en' ? scheduledStart : (performance.data.data.publicity_period.start | date: locale) }}
            </h4>
            <p>{{ performance.data.data.publicity_period.start | date: 'shortTime':locale }}</p>
          </div>
          <div class="flex-col rounded-lg p-2 date-chip text-white opacity-100">
            <h4 i18n>End</h4>
            <h4>{{ locale == 'en' ? scheduledEnd : (performance.data.data.publicity_period.end | date: locale) }}</h4>
            <p>{{ performance.data.data.publicity_period.end | date: 'shortTime':locale }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col">
      <h4 class="m-4 text-black font-bold" i18n>Event Status</h4>
      <div class="flex-1 bg-white border-2 border-gray-200 rounded-2xl p-4 relative text-center">
        <h3 class="my-12 text-blue-400">
          {{ performance.data.data.status ? (performance.data.data.status | performanceStatusPipe) : '-' }}
        </h3>
      </div>
    </div>
  </div>
</div>
