<!-- Host Component - Leave Host -->
<div class="host-container">
  <app-create-host *ngIf="!myself.host" [host]="myself.host" [user]="myself.user"></app-create-host>

  <ng-container *ngIf="myself.host">
    <h2>Host settings</h2>
    <ui-hr></ui-hr>

    <div class="mx-4 text-center"><br>
      <p>Withdraw membership from <b>{{ myself.host.name }}</b>, this action can't be undone.</p>
      <ui-button [disabled]="myself.host_info.permissions == 'host_owner'"
        kind="danger"
        size="l"
        class="mb-4"
        (click)="openLeaveHostConfirmationDialog()">Leave Company</ui-button>
      <br>
      <mat-error *ngIf="myself.host_info.permissions == 'host_owner'">Can't leave a company if you're the owner, must be deleted</mat-error>
    </div>

  </ng-container>

</div>