<div class="sidebar-wrapper">
  <img src="https://i.ibb.co/sv4pqcN/pixomatic-1610055330936.png" alt="" class="logo">

  <div class="sidebar-main-buttons">
    <ui-button (click)="gotoRoot()" variant="accent" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <ui-icon>template</ui-icon>
    </ui-button>

    <!-- <ui-button variant="accent" routerLinkActive="active">
      <ui-icon>play--filled</ui-icon>
    </ui-button> -->

    <!-- <ui-button variant="accent" routerLinkActive="active">
      <ui-icon>analytics</ui-icon>
    </ui-button> -->

    <ui-button *ngIf="myself.host" (click)="gotoHost()" variant="accent" routerLink="/host" routerLinkActive="active">
      <ui-icon>events</ui-icon>
    </ui-button>

    <ui-button *ngIf="myself.user.is_admin" (click)="gotoAdmin()" routerLink="/admin" variant="accent"
      routerLinkActive="active">
      <ui-icon>user--admin</ui-icon>
    </ui-button>

    <ui-button (click)="gotoSettings()" variant="accent" routerLink="/settings" routerLinkActive="active">
      <ui-icon>settings</ui-icon>
    </ui-button>

    <!-- <ui-button (click)="gotoRoot()" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <ui-icon>home</ui-icon> Home
    </ui-button>
    <ui-button routerLink="/search" routerLinkActive="active">
      <ui-icon>search</ui-icon> Search
    </ui-button>
    <ui-button routerLink="/library" routerLinkActive="active">
      <ui-icon>catalog</ui-icon> Your Library
    </ui-button>

    <ng-container *ngIf="host">
      <mat-divider></mat-divider>

      <ui-button (click)="gotoHost()" routerLink="/host" routerLinkActive="active">
        <ui-icon>events</ui-icon> {{ host.name }}
      </ui-button>
    </ng-container>

    <ng-container *ngIf="user.is_admin">
      <ui-button (click)="gotoAdminPanel()" routerLink="/admin" routerLinkActive="active">
        <ui-icon>dashboard</ui-icon> Admin Panel
      </ui-button>
    </ng-container> -->
  </div>
</div>