.landing-cover-body {
  display: flex;
  flex-flow: column;
  color: white;
  position: absolute;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  .landing-body__main {
    margin-top: auto;
    padding: 5vh 10vw;
    padding-bottom: 0;
    img {
      height: auto;
      max-width: 80vw;
    }
    .logo {
      margin-left: -50px;
      max-width: 800px;
      margin-top: 10px;
    }
  }
  .landing-body__bottom {
    width: 100%;
    padding: 5vh 10vw;
    padding-top: 1vh;
    padding-bottom: 15vh;
    p {
      font-size: 18px;
      line-height: 1.5;
    }
    .icons {
      display: flex;
      margin-top: 5vh;
      margin-left: 10px;
      ui-icon {
        transform: scale(1.5);
        margin-right: 20px;
      }
    }
  }
}
