<div class="flex items-center mb-8">
  <h1 class="mb-0" i18n>Event Details</h1>
  <ui-chip class="chip ml-4 capitalize" [kind]="'primary'">{{ performanceType }}</ui-chip>
</div>

<div class="relative">
  <mat-tab-group #tabs>
    <mat-tab i18n-label label="General">
      <ui-form class="mt-8 max-w-6xl" *ngIf="performanceGeneralForm" [form]="performanceGeneralForm"></ui-form>
    </mat-tab>
    <mat-tab i18n-label label="Release">
      <div class="mt-8 max-w-6xl">
        <ui-form *ngIf="performanceReleaseForm" [form]="performanceReleaseForm"></ui-form>
        <div class="mt-3">
          <app-host-performance-details-visibility
            [performance]="performanceData"
            [host]="host"
            (switchEmitter)="updateVisibility($event)"
          ></app-host-performance-details-visibility>
        </div>
      </div>
    </mat-tab>
    <!-- Links tab, only to be shown if the performance is not a draft -->
    <mat-tab i18n-label label="Links" *ngIf="!performanceIsDraft">
      <app-host-performance-details-links
        class="mt-8 max-w-6xl"
        [cacheable]="performance"
      ></app-host-performance-details-links>
    </mat-tab>
    <!-- Keys tab, only to be shown if the performance is a livestream and if not a draft -->
    <mat-tab *ngIf="performanceType == 'livestream' && !performanceIsDraft" i18n-label label="Keys">
      <app-host-performance-details-keys
        class="mt-8 max-w-6xl"
        [cacheable]="performance"
        [streamKey]="performanceHostInfo.data?.stream_key"
      ></app-host-performance-details-keys>
    </mat-tab>
  </mat-tab-group>
  <div class="absolute right-0 top-0 flex z-50">
    <ui-button (click)="savePerformanceDetails()" variant="primary" i18n> Save </ui-button>
    <div
      class="flex items-center cursor-pointer"
      [popper]="managePerformanceDropdown"
      [popperShowOnStart]="false"
      [popperHideOnClickOutside]="true"
      [popperHideOnScroll]="true"
      [popperApplyClass]="'user-dropdown-menu'"
      popperTrigger="click"
      popperPlacement="top"
    >
      <ui-icon class="text-gray-500" [size]="42">overflow-menu--vertical</ui-icon>
    </div>
  </div>
</div>

<p class="hidden" #checkboxText>
  I'm in compliance with the licenses required to stream this production. I have read the uploaders
  <a [routerLink]="['/documents/terms-and-conditions']" target="_blank">terms and conditions</a>
  to stream a production legally.
</p>

<popper-content #managePerformanceDropdown class="flex flex-col">
  <div class="flex flex-col">
    <ng-container *ngIf="!performanceIsCancelled; else showRestoreButton">
      <ui-button
        class="border-0"
        i18n-matTooltip
        matTooltip="Cannot cancel a live performance"
        [matTooltipDisabled]="!performanceIsLive"
        [disabled]="performanceIsLive"
        (click)="cancelPerformance()"
        i18n
        >Cancel Performance</ui-button
      >
    </ng-container>
    <ng-template #showRestoreButton>
      <ui-button class="border-0" (click)="restorePerformance()" i18n>Restore Performance</ui-button>
    </ng-template>
  </div>
</popper-content>
