<app-host-performance-thumbnails [performance]="performance.data"></app-host-performance-thumbnails>
<br />
<app-update-performance [cacheable]="performance"></app-update-performance>

<ui-hr></ui-hr>

<div class="flex items-center justify-between">
  <div class="mr-4">
    <b i18n>Publicity Period</b>
    <p i18n>
      Set a date period in which the performance is publically visible<br />
      across the platform
    </p>
  </div>
  <ui-form class="flex-1" [form]="publicityPeriodForm"></ui-form>
</div>

<div class="flex items-center justify-between">
  <div class="mr-4">
    <b i18n>Visibility</b>
    <p i18n>
      <ng-container *ngIf="host.is_onboarded == false">
        You must first finish the <a routerLink="/dashboard">onboarding process</a> before any content can be made
        Public<br />
      </ng-container>
      Set whether a performance is visible across the platform
    </p>
  </div>
  <ui-form [form]="visibilityForm"></ui-form>
</div>

<ng-container *ngIf="stream">
  <h2 i18n>Stream Key</h2>
  <ui-hr></ui-hr>
  <p i18n>Use this key in your streaming application to broadcast your performance.</p>

  <ui-button
    (click)="readStreamingKey()"
    *ngIf="!phiData"
    [loading]="performanceHostInfo.loading"
    [disabled]="performanceHostInfo.loading"
    i18n
  >
    Show Key
  </ui-button>

  <div *ngIf="phiData" class="p-4 flex align-middle select-all bg-gray-50 rounded">
    <pre class="inline h-6 my-auto">{{ phiData.stream_key }}</pre>
    <ui-button class="ml-auto" (click)="copyStreamKeyToClipboard()">{{ copyMessage }}</ui-button>
  </div>
</ng-container>

<ng-container *ngIf="vod">
  <h2>VoD</h2>
  <ui-hr></ui-hr>
  <ng-container *ngIf="vod.location; else noLocation">
    <p i18n>VoD asset is processed and viewable.</p>
  </ng-container>
  <ng-template #noLocation>
    <p i18n>VoD Asset is still processing...</p>
  </ng-template>
</ng-container>
