<!-- Float right should move to right of breadcrumb navigation. TODO: check works as expected after breadcrumb story has been merged -->
<ui-button class="float-right" icon="launch">Preview Event</ui-button>
<div class="flex items-center mt-4 mb-8 mt-20 clear-both">
  <h1 class="mb-0" i18n>Event Details</h1>
  <ui-chip class="chip ml-4" [kind]="'primary'">Recorded</ui-chip>
</div>

<mat-tab-group>
  <mat-tab label="General"> <h4 class="mt-4">Random content 1</h4> </mat-tab>
  <mat-tab label="Release"> <h4 class="mt-4">Random content 1</h4> </mat-tab>
  <mat-tab label="Links"> <h4 class="mt-4">Random content 1</h4> </mat-tab>
  <mat-tab label="Keys"> <h4 class="mt-4">Random content 1</h4> </mat-tab>
</mat-tab-group>
