.host-register-wrapper {
  overflow: visible;
  ::ng-deep {
    ui-dialog .ui-dialog {
      margin-bottom: 0 !important;
    }
    .mat-horizontal-content-container {
      padding: 0 !important;
    }
  }
}

.host-register-dialog {
  &--audience {
    ::ng-deep .mat-horizontal-stepper-header-container {
      display: none;
    }
  }
  &--business {
  }
}

app-user-register ::ng-deep {
  width: 100%;
  .ui-dialog {
    width: 100%;
  }
}

// .host-register-dialog ::ng-deep .ui-dialog--content {
//   padding: 0 !important
// }
