<div class="sidebar-wrapper">

  <div class="sidebar-main-buttons" [class.sidebar-main-buttons--is-expanded]="isExpanded">
    <ui-button *ngIf="myself?.host" matTooltip="Dashboard" matTooltipPosition="right" kind="accent"
      routerLink="/dashboard" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
      <img class="sidebar-host-icon rounded-full object-cover"
        [src]="myself.host.avatar || '/assets/avatar-placeholder.png'" alt="">
    </ui-button>

    <ui-button *ngIf="myself?.user.is_admin" matTooltip="Admin" matTooltipPosition="right" routerLink="/admin"
      kind="accent" routerLinkActive="active-link">
      <ui-icon>virtual-private-cloud</ui-icon>
    </ui-button>

    <ng-container *ngIf="myself.host">
      <ui-button matTooltip="Performances" matTooltipPosition="right" routerLink="/dashboard/performances"
        routerLinkActive="active-link">
        <ui-icon>playlist</ui-icon>
      </ui-button>

      <ui-button *ngIf="myself?.host?.is_onboarded" matTooltip="Payments" matTooltipPosition="right"
        routerLink="/dashboard/payments" routerLinkActive="active-link">
        <ui-icon>money</ui-icon>
      </ui-button>

      <ui-button matTooltip="Team" matTooltipPosition="right" routerLink="/dashboard/team"
        routerLinkActive="active-link">
        <ui-icon>events</ui-icon>
      </ui-button>

      <ui-button matTooltip="Profile" matTooltipPosition="right" [routerLink]="'/dashboard/@'+ myself.host.username"
        routerLinkActive="active-link">
        <ui-icon>user--avatar</ui-icon>
      </ui-button>

      <ui-button matTooltip="Settings" matTooltipPosition="right" routerLink="/dashboard/settings"
        routerLinkActive="active-link">
        <ui-icon>settings</ui-icon>
      </ui-button>
    </ng-container>
  </div>
</div>