<ui-dialog [title]="'Recover your password'" [dialogRef]="dialogRef" [buttons]="buttons">
  <!--Header-->
  <div class="text-center text-gray-500">
    <p>Enter your email and we will send you instructions to <br>
      generate a new password.</p><br>
  </div>

  <ui-form [form]="sendEmailForm"></ui-form>

  <!--Message Display Area-->
  <div class="h-10 flex items-center justify-center">
    <p class="text-gray-600">{{ dialogMessage }}</p>
  </div>

  <!--Close Current Dialog-->
  <div class="text-center pb-8">
    <a class="text-black hover:text-pink-600 cursor-pointer" (click)="closeDialog()">Back to sign in</a>
  </div>

</ui-dialog>