<div *ngIf="!success" class="form-container">
  <h2>Create an organisation</h2>
  <p>Manage and orchestrate your vertical farming through an organisation</p>
  <br />

  <form
    [formGroup]="createOrgForm"
    [hidden]="success"
    (ngSubmit)="submitHandler()"
  >

  <mat-form-field appearance="fill">
    <mat-label type="text">Organisation name</mat-label>
    <input matInput type="text" formControlName="name" />
    <mat-error *ngIf="!errors.name && name.invalid && name.touched"
      >Organisation name is required</mat-error
    >
    <mat-error *ngIf="errors.name">{{ errors.name }}</mat-error>
  </mat-form-field>

    <br />

    <ui-button variant="primary" (click)="submitHandler()" [loading]="loading">
      Create
    </ui-button>

    <mat-error class="form" *ngIf="errors.form">{{ errors.form }}</mat-error>
  </form>
</div>
