<ui-dialog [loading]="invoice.loading" class="relative">
  <div class="relative">
    <h2>
      <span i18n>Invoice</span> <span class="opacity-50">#{{ invoice.data?.invoice_id }}</span>
    </h2>
    <ui-hr></ui-hr>

    <div class="flex items-center absolute top-0 right-0">
      <ui-button buttonStyle="secondary-m" class="mr-2" i18n>Email Receipt</ui-button>
      <ui-button buttonStyle="secondary-m" i18n>Print Receipt</ui-button>
    </div>
  </div>

  <div class="relative">
    <ui-chip class="absolute top-0 right-0" *ngIf="invoice.data?.status" [kind]="paymentStateKind">
      {{ invoice.data.status | paymentStatusPipe }}
    </ui-chip>

    <ul>
      <li><b i18n>Order ID</b>{{ invoice.data?.invoice_id }}</li>
      <li>
        <b i18n>Order Date</b>
        <span *ngIf="invoice.data?.invoice_date">
          {{ invoice.data?.invoice_date | amFromUnix | amDateFormat: 'LLLL' }}</span
        >
      </li>
      <li><b i18n>Address Line 1</b></li>
      <li><b i18n>Address Line 2</b></li>
      <li><b i18n>Registered Charity No.</b></li>
      <li><b i18n>Payment Source</b>{{ invoice.data?.card_type | uppercase }}</li>
      <li>
        <b i18n>Card Details</b>
        <span *ngIf="invoice.data?.last_4_digits"> **** **** **** {{ invoice.data?.last_4_digits }} </span>
      </li>
    </ul>
  </div>

  <ui-hr></ui-hr>

  <div class="grid grid-cols-2 gap-2">
    <!-- Customer -->
    <div *ngIf="isHostInvoice">
      <p><b i18n>Customer</b></p>
      <app-user-thumb *ngIf="hostInvoice" [user]="hostInvoice.user"></app-user-thumb>
    </div>

    <!-- Product -->
    <div>
      <p><b i18n>Product</b></p>
      <ul>
        <li><b i18n>Type</b> Performance Ticket</li>
        <li><b i18n>Name</b> {{ invoice.data?.performance?.name }}</li>
        <li><b i18n>Amount</b>{{ invoice.data?.amount | currencyPipe: invoice.data?.ticket?.currency }}</li>
        <li *ngIf="isHostInvoice">
          <b i18n>Net Amount</b>{{ hostInvoice?.net_amount | currencyPipe: invoice.data?.ticket?.currency }}
        </li>
      </ul>
    </div>

    <div class="relative">
      <ng-container *ngIf="!isHostInvoice">
        <ng-container *ngIf="invoice.data?.status !== refundRequested">
          <ui-button class="absolute bottom-0 right-0" buttonStyle="primary-m" (click)="requestRefund()" i18n
            >Request Refund</ui-button
          >
        </ng-container>
      </ng-container>
    </div>
  </div>
</ui-dialog>
