@import 'apps/frontend/src/styles/variables';

video {
  object-fit: fill;
  width: 100% !important;
  height: auto !important;
}

// disable progress bar
.is--live-stream::ng-deep .plyr__progress {
  display: none;
}

// TODO: allow variable colors from variables.scss
.player {
  --plyr-color-main: #e64a73;
}
