<div class="relative h-full">
  <div
    mat-card-image
    plyr
    [plyrCrossOrigin]="true"
    [plyrDriver]="hlsjsDriver"
    [plyrOptions]="options"
    [plyrPoster]="poster"
    [plyrSources]="streamSources"
    (plyrError)="onPlayerError.emit($event)"
    (plyrEnded)="onPlayerEnded.emit($event)"
    (plyrWaiting)="onPlayerWaiting.emit($event)"
    (plyrPlay)="_onPlay()"
    (plyrInit)="_onPlayerInit($event)"
    (plyrLanguageChange)="_onLanguageChanged(hlsjsDriver, player)"
  ></div>
</div>
