<div class="relative h-full" [class.is--live-stream]="asset?.type == 'live-stream'">
  <div
    class="player"
    mat-card-image
    plyr
    [plyrCrossOrigin]="true"
    [plyrDriver]="hlsjsDriver"
    [plyrOptions]="options"
    [plyrPoster]="poster"
    [plyrSources]="streamSources"
    (plyrError)="onPlayerError.emit($event)"
    (plyrEnded)="onPlayerEnded.emit($event)"
    (plyrWaiting)="onPlayerWaiting.emit($event)"
    (plyrPlay)="_onPlay($event)"
    (plyrInit)="_onPlayerInit($event)"
    (plyrLanguageChange)="_onLanguageChanged(hlsjsDriver, player)"
  ></div>
</div>
