@import 'apps/frontend/src/styles/variables';

video {
  object-fit: fill;
  width: 100% !important;
  height: auto !important;
}

// disable progress bar
.is--live-stream::ng-deep .plyr__progress {
  display: none;
}

.player {
  --plyr-color-main: #e64a73; // Won't allow colour variable to be passed for some reason
}
