<app-page>
  <div body>
    <app-breadcrumb></app-breadcrumb>
    <h1 i18n>Settings</h1>
    <ui-hr></ui-hr>
    <ng-container *ngIf="myself.host">
      <div *ngIf="myself.host.is_onboarded">
        <h3 i18n>Account</h3>
        <ui-form [form]="hostDetailsForm"></ui-form>
        <ui-button
          (click)="hostDetailsForm.submit()"
          [disabled]="!hostDetailsForm.group.valid"
          [loading]="hostDetailsForm.loading | async"
          variant="primary"
          i18n
          >Update</ui-button
        >
      </div>

      <div class="mt-app">
        <h3 i18n>Leave Company</h3>
        <div>
          <p i18n>
            Withdraw membership from <b>{{ myself.host.name }}</b
            >, this action can't be undone.
          </p>
          <ui-button
            [disabled]="myself.host_info.permissions == 'host_owner'"
            variant="danger-l"
            class="mb-4"
            (click)="openLeaveHostConfirmationDialog()"
            i18n
            >Leave Company</ui-button
          >
          <br />
          <mat-error *ngIf="myself.host_info.permissions == 'host_owner'"
            ><span i18n
              >You can't leave this company because you're the owner, please transfer ownership to another member.</span
            ></mat-error
          >
        </div>
      </div>
    </ng-container>
  </div>
</app-page>
