<div class="dialog-container">
  <ui-overlay-spinner *ngIf="loading && florableGraph"></ui-overlay-spinner>

  <div class="prop-assign-dialog-body">
    <h1>Re-assign {{this.data.sources[this.data.property]?.name}}</h1>
    <p>Select a recordable to assign device property data to</p>
    <mat-spinner *ngIf="loading && !florableGraph"></mat-spinner>

    <div class="florable-tree-select" *ngIf="florableGraph">
      <div class="nav">
        <div class="top-level-node" *ngFor="let n of florableGraph">
          <app-tree-node [activeNode]="selectedRecordable" (selectedNode)="selectRecordable($event)" [node]="n" [depth]="0"></app-tree-node>
        </div>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="prop-assignment">
      <div class="properties">
        <p *ngFor="let prop of data.properties">
          {{this.data.sources[prop]?.name}}
        </p>
      </div>

      <ui-icon>arrow--right</ui-icon>
      <div class="end">
        <p>{{selectedRecordable?.name || "Not assigned"}}</p>
        <button mat-icon-button *ngIf="selectedRecordable" (click)="selectRecordable(null)">
        <mat-icon>close</mat-icon></button>
      </div>
    </div>
  </div>

  <ui-dialog-buttons
    leftString="Cancel"
    rightString="Save"
    [leftDisabled]="false"
    [rightDisabled]="loading && !florableGraph"
    (leftClick)="cancel()"
    (rightClick)="assign()">
  </ui-dialog-buttons>
</div>

