@import 'apps/frontend/src/styles/variables';

.green {
  color: $clr-success;
}

.red {
  color: $clr-danger;
}

.blue {
  color: $clr-info;
}

.fade-mask {
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.no-graph {
  background-color: $clr-info;
  width: 100%;
  height: 25%;
}
