<div class="bg-white rounded overflow-hidden shadow relative">
  <div class="p-4 absolute z-10">
    <h2>{{ item.title }}</h2>
    <h3 *ngIf="item.aggregation && item.difference">{{ item.aggregation }} ({{ item.difference }})</h3>
  </div>

  <ngx-chartjs
    class="opacity-25 pt-12"
    type="line"
    [data]="item.graph.data"
    [options]="item.graph.options"
  ></ngx-chartjs>

  <div
    *ngIf="loading"
    class="overlay absolute top-0 left-0 bottom-0 right-0 w-full h-full z-10 bg-white bg-opacity-50 flex items-center justify-center"
  >
    <mat-spinner></mat-spinner>
  </div>
</div>
