<div class="bg-white border-2 border-gray-200 rounded-2xl overflow-hidden relative h-full">
  <div class="grid grid-cols-2 h-full">
    <div class="p-3">
      <div class="z-10">
        <h2 *ngIf="item.aggregation">{{ item.aggregation }}</h2>
        <h4 class="whitespace-nowrap">{{ item.title }}</h4>
      </div>
      <!-- Display the change since the last period -->
      <div *ngIf="item.difference && differenceIsFinite" class="flex">
        <h2 [ngClass]="{ green: item.difference > 0, red: item.difference < 0, blue: item.difference == 0 }">
          {{ item.difference * 100 | number: '1.0-0' }}%
        </h2>
        <ui-icon class="green" [size]="40" *ngIf="item.difference > 0">caret--up</ui-icon>
        <ui-icon class="red" [size]="40" *ngIf="item.difference < 0">caret--down</ui-icon>
        <ui-icon class="blue" [size]="40" *ngIf="item.difference == 0">subtract</ui-icon>
      </div>
      <!-- If we have no data, we display 0% -->
      <div *ngIf="noDataYet" class="flex">
        <h2 class="blue">0%</h2>
        <ui-icon class="blue" [size]="40">subtract</ui-icon>
      </div>
    </div>
    <div class="p-3 flex flex-col justify-end fade-mask">
      <!-- If data, we display the chart -->
      <ngx-chartjs type="line" *ngIf="!noDataYet" [data]="item.graph.data" [options]="item.graph.options"></ngx-chartjs>
      <!-- If no data, we display a blank 'fake' chart -->
      <div class="no-graph" *ngIf="noDataYet"></div>
    </div>
  </div>
  <div
    *ngIf="loading"
    class="overlay absolute top-0 left-0 bottom-0 right-0 w-full h-full z-10 bg-white bg-opacity-50 flex items-center justify-center"
  >
    <mat-spinner></mat-spinner>
  </div>
</div>
