<app-page>
  <div body>
    <app-host-analytics>
      <h1>Welcome, <span class="host-name">Rubicon Dance</span></h1>
    </app-host-analytics>
    <!-- Grid used so we can make it responsive for mobile in future -->
    <div class="grid grid-cols-2 gap-x-4 mt-12">
      <app-table-box
        [table]="table"
        [title]="'Upcoming Events'"
        [buttonText]="'Create Event'"
        [buttonFunction]="openCreatePerformanceDialog"
      >
        <a [routerLink]="['/dashboard/performances']" i18n>Go to events page</a>
      </app-table-box>
      <app-table-box></app-table-box>
    </div>
  </div>
</app-page>
