<app-page class="login-wrapper">
  <div class="content">
    <h1 class="mat-display-1">Sign in</h1>

    <form [formGroup]="loginForm" (ngSubmit)="submitHandler()">
      <mat-form-field appearance="fill">
        <mat-label type="email">E-mail address</mat-label>
        <input matInput type="text" formControlName="email_address" />
        <mat-error *ngIf="!user.form_errors.email && email.invalid && email.touched">E-mail is required</mat-error>
        <mat-error *ngIf="user.form_errors.email">{{ user.form_errors.email }}</mat-error>
      </mat-form-field>

      <br />

      <mat-form-field appearance="fill">
        <mat-label type="password">Password</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="!user.form_errors.password && password.invalid && password.touched">Password is required</mat-error>
        <mat-error *ngIf="user.form_errors.password">{{ user.form_errors.password }}</mat-error>
      </mat-form-field>

      <div class="sign-in-buttons">
        <ui-button variant="primary" [disabled]="loginForm.invalid || user.loading" [loading]="user.loading">
          <span>Sign in</span>
        </ui-button>

        <mat-form-field floatPlaceholder="always" class="app-input-no-underline">
          <input matInput style="display: none !important;" />
          <mat-checkbox formControlName="rememberMe">Remember me?</mat-checkbox>
        </mat-form-field>

        <a class="mat-small help" href="#">Trouble logging in?</a>
      </div>

      <mat-error class="form" *ngIf="user.error">{{ user.error }}</mat-error>
    </form>

    <br />
    <br />

    <!-- TODO: SSO with passport -->
    <!-- <div class="alt-sign-in-buttons">
        <ui-button variant="secondary"><img src="/assets/gitlab.png"/>Gitlab</ui-button>
        <ui-button variant="secondary"><img src="/assets/github.png"/>GitHub</ui-button>
        <ui-button variant="secondary"><img src="/assets/google.png"/>Google</ui-button>
      </div> -->

  </div>
</app-page>