<ui-dialog [noPadding]="true">
  <div>
    <img class="object-cover h-96 w-full" src="./../../../assets/D.jpg" />
  </div>

  <div class="flex p-4">
    <div class="w-2/3">
      <h1>{{ data.name }}</h1>
      <app-user-thumb [user]="data.host"></app-user-thumb>

      <ui-hr></ui-hr>

      <p>{{ data.description }}</p>
    </div>

    <div class="w-1/3 ml-2 text-right">
      <ng-template ngxPermissionsOnly="none">
        <p>You must <a (click)="openRegister()">register</a> before being able to purchase this performance</p>
        <ui-button kind="secondary" disabled="true" size="l"><ui-icon>add</ui-icon>Add to Cart</ui-button>
      </ng-template>

      <ng-template ngxPermissionsOnly="user">
        <ui-button kind="secondary" size="l"><ui-icon>add</ui-icon>Add to Cart</ui-button>
      </ng-template>      
    </div>
  </div>
</ui-dialog>
