.device-menu {
  background-color: white;
  display: flex;
  flex-flow: column;
  transition: opacity 0.2s, height 0s;
  margin-right: -24px;
  ui-button {
    ui-icon {
      margin-right: 10px;
    }
  }

  ::ng-deep button.mat-button {
    width: 100%;
    .mat-button-wrapper {
      width: 100%;
      justify-content: flex-start;
      text-align: left;
    }
  }
}
