<ui-dialog [loading]="uploadButton.loading" [buttons]="buttons" i18n-title title="Select Media">
  <!-- <img
    class="h-72"
    [src]="selectedImage ? selectedImage : data.initialImage !== null ? data.initialImage : '/assets/placeholder.jpg'"
  /> -->

  <div
    class="relative flex items-center justify-center rounded-lg thumbnail-image overflow-hidden cursor-pointer mb-2"
    [ngClass]="{ 'bg-grey': !selectedImage && !data.initialImage }"
    (click)="fileInput.click()"
  >
    <ui-icon *ngIf="!selectedImage && !data.initialImage" [size]="50">image</ui-icon>
    <input accept=".jpg,.jpeg,.png,.gif" hidden (change)="onAvatarFileSelected()" #fileInput type="file" id="file" />
    <img *ngIf="selectedImage || data.initialImage" class="object-cover" [src]="selectedImage || data.initialImage" />
    <div class="overlay flex items-center justify-center absolute inset-0 opacity-0">
      <p class="text-white">Select image</p>
    </div>
    <ui-button
      *ngIf="data.initialImage"
      (click)="deleteAsset($event)"
      class="absolute top-2 right-2"
      [variant]="danger"
    >
      <ui-icon>delete</ui-icon>
    </ui-button>
  </div>
  <small class="opacity-70" i18n
    >Max upload size: 2MB <br />Minimum resolution: 600 x 400px <br />3:2 ratio <b>required</b>
  </small>

  <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
</ui-dialog>
