<div class="settings-container">
    <div class="settings-container__sidebar">
        <div class="sidebar-header">
            <img [src]="user.avatar">
            <div class="sidebar-header__text">
                <b>{{ user.username }}</b>
                <span>Personal settings</span>
            </div>
        </div>
        <div class="sidebar-buttons">
            <ui-button routerLink="/settings/profile" routerLinkActive="active-link">Profile</ui-button>
            <ui-button routerLink="/settings/billing" routerLinkActive="active-link">Billing & Plans</ui-button>
            <ui-button routerLink="/settings/host" routerLinkActive="active-link">{{ userHost ? 'Host settings' : 'Create a Host' }}</ui-button>
            <ui-button routerLink="/settings/account" routerLinkActive="active-link">Delete account</ui-button>    
        </div>
    </div>

    <div class="settings-container__body">
        <router-outlet></router-outlet>
        <!-- <app-profile-settings [user]="user"></app-profile-settings> -->
    </div>
</div>