<div>
  <ui-button [disabled]="ticket.quantity_remaining == 0 || disabled" 
    size="l"
    (click)="clicked.emit(ticket)">
      <div class="flex">
        <ui-chip [kind]="ticketChipColor[ticket.type]">{{ ticket.type | ticketTypePipe | uppercase}}</ui-chip>
        <ui-chip kind="gray" class="ml-2" *ngIf="ticket.is_visible == false">HIDDEN</ui-chip>  
        <b class="ml-auto" *ngIf="ticket.type !== 'free'">{{ ticket.amount | currencyPipe: ticket.currency }}</b>
      </div>

      <div>
        <span>{{ ticket.name }}</span>
        <span class="opacity-50">
          {{ ticket.quantity_remaining > 0
            ? (ticket.quantity_remaining + ' remaining')
            : 'SOLD OUT'
          }}
        </span>
      </div>
  </ui-button>
</div>