<h4 class="mb-4 text-black" i18n *ngIf="title">{{ title }}</h4>

<div class="bg-white border-2 border-gray-200 rounded-2xl p-4 relative">
  <!-- <mat-spinner class="ml-5" [diameter]="50" *ngIf="table.cache.loading"></mat-spinner> -->
  <div class="flex justify-end">
    <ui-button *ngIf="buttonFunction && buttonText" (click)="buttonFunction()" kind="primary" icon="add" i18n>
      {{ buttonText }}
    </ui-button>
  </div>

  <ui-table *ngIf="table" [table]="table"></ui-table>
  <div class="absolute bottom-8 left-4">
    <!-- Footer content -->
    <ng-content></ng-content>
  </div>
</div>
