@import 'apps/frontend/src/styles/variables';

.app-container {
  height: 100vh;
  max-width: 100vw;
  background-color: white;
  display: flex;

  .app-body {
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-flow: column;
    position: relative;
    flex: 1;
    position: relative;

    .top-rounder {
      z-index: 99;
      position: absolute;
      top: 0px;
      left: 0px;
      height: 50px;
      width: 50px;
    }

    .content-container {
      padding-left: 40px;
      padding-right: 40px;

      app-header-bar {
        display: block;
        height: auto;
        width: 100%;
        z-index: 99;
        position: relative;
      }

      .router-outlet {
        overflow: visible !important;
      }
    }
  }
}

// <ui-button routerLink="/categories" i18n="@@categories">Categories</ui-button>
// <ui-button routerLink="/my-stuff" i18n="@@my-stuff">My Stuff</ui-button>
