<div class="app-container">
  <app-sidebar *ngIf="myself" [myself]="myself"> </app-sidebar>

  <div class="app-body" #scrollContainer>
    <svg *ngIf="myself" class="top-rounder" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 4">
      <path d="M 0 4 L 0 0 L 4 0 C 1 0 0 1 0 4" fill="#07192c" />
    </svg>

    <app-header-bar class="container mx-auto px-4 py-2 mt-4" [myself]="myself"></app-header-bar>

    <!-- Pages should use app-page -->
    <router-outlet></router-outlet>

    <app-footer></app-footer>
  </div>
</div>
