<div class="app-container">
  <app-header-bar [myself]="myself"></app-header-bar>
  <app-sidebar *ngIf="myself?.user.is_admin || myself?.host"
    [class.raise-index]="!(drawerOpenSubject | async)"
    [class.shadow-lg]="drawerOpenSubject | async"
    [myself]="myself">
  </app-sidebar>
    <!-- [class.cancel-events]="drawerOpenSubject | async" -->

  <mat-drawer-container class="h-full relative">
    <mat-drawer #drawer mode="side" [ngSwitch]="drawerState.key">
      <app-host-performance-drawer *ngSwitchCase="drawerKey.HostPerformance"></app-host-performance-drawer>
    </mat-drawer>

    <mat-drawer-content class="w-full h-full">

      <div class="app-body container pt-16 px-8">
        <!-- <app-page title="First time setup" *ngIf="myself && myself.user.is_new_user">
          <app-first-time-setup></app-first-time-setup>
        </app-page> -->

        <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>  
    </mat-drawer-content>
  </mat-drawer-container>
</div>