<mat-spinner *ngIf="performance.loading"></mat-spinner>
<ng-container *ngIf="performance.data">
  <div class="flex align-middle">
    <h1 class="flex-1 mb-0">{{ performanceData.name }}</h1>
    <div class="ml-auto my-auto">
      <ui-button (click)="gotoPerformance()" kind="secondary" class="mr-2"><ui-icon>launch</ui-icon>&nbsp; Preview</ui-button>
      <ui-button (click)="openSharePerformanceDialog()" kind="primary"><ui-icon>share</ui-icon></ui-button>  
    </div>
  </div>
  <ui-hr></ui-hr>

  <app-update-performance [cacheable]="performance"></app-update-performance>
  <br/>

  <h2>Modify Visibility</h2>
  <ui-hr></ui-hr>

  <p *ngIf="host.is_onboarded == false">
    You must first finish the <a routerLink="/host/onboarding">onboarding process</a> before any content can be made Public.
  </p>
  <ui-input
    type="select"
    label="Visibility"
    (selectionChange)="updateVisibility($event)"
    [disabled]="host.is_onboarded == false"
    [options]="visibilityOptions"
    [initial]="performanceData.visibility">
  </ui-input>
  <br />

  <h2>Stream Key</h2>
  <ui-hr></ui-hr>
  <p>Use this key in your streaming application to broadcast your performance.</p>

  <ui-button
    (click)="readStreamingKey()"
    *ngIf="!phiData"
    [loading]="performanceHostInfo.loading"
    [disabled]="performanceHostInfo.loading">
      Show Key
  </ui-button>

  <div *ngIf="phiData" class="bg-white p-4 flex align-middle select-all">
    <pre class="inline h-6 my-auto">{{ phiData.stream_key }}</pre>
    <ui-button class="ml-auto" (click)="copyStreamKeyToClipboard()">{{ copyMessage }}</ui-button>  
  </div>
</ng-container>

