<mat-spinner *ngIf="onboarding.loading"></mat-spinner>
  <ng-container *ngIf="onboarding.data && !onboarding.loading">
    <div>
      <h1>{{ onboarding.data.host.name }} <span class="opacity-20">(#{{ onboarding.data.host._id }})</span></h1>

      <div class="onboarding-meta">
        <p><b>Status:</b> {{ onboarding.data.state | onboardingStatePipe }}</p>
        <p><b>Submitted:</b> {{ onboarding.data.last_submitted | amFromUnix | amTimeAgo }}</p>
        <p><b>Last Reviewed:</b>  {{ onboarding.data.last_modified_by.name }}</p>  
        <p><b>Last Reviewed By:</b>  {{ onboarding.data.last_modified_by.name }}</p>  
      </div>
  </div>

  <ui-hr></ui-hr>

  <app-onboarding-view [adminView]="true" [hostId]="onboarding.data.host._id"></app-onboarding-view>
</ng-container>
