<ui-dialog class="login-wrapper" [buttons]="buttons">
  <div class="flex justify-between">
    <h2 class="mb-4" i18n="@@login-dialog">Log in</h2>
    <ui-button kind="secondary" (click)="openRegister()">Register?</ui-button>
  </div>

  <ui-form #form
    (onChange)="handleFormChange($event)"
    (onSuccess)="onLoginSuccess($event)"
    [cacheable]="user"
    [form]="loginForm">
  </ui-form>

  <div class="text-right">
    <a class="text-black hover:text-pink-600 cursor-pointer" (click)="openPasswordResetDialog()">Forgot Password?</a>
  </div>

</ui-dialog>