<app-page class="login-wrapper">  
    <h1 class="mat-display-1">Sign in</h1>

    <ui-form #form
      (onSuccess)="onLoginSuccess($event)"
      [cacheable]="user"
      [form]="loginForm">
    </ui-form>

    <br>   
    
    <p class="text-center">Not registered?</p>

    <div class="container mx-auto flex justify-center items-center">
      <ui-button kind="primary" (click)="openRegister()">Register</ui-button>
    </div>      
    
    <br><br>

    <ui-button (click)="adminFastLogin()" *ngIf="isDevelopment">Fast Admin Login</ui-button>

    <!-- TODO: SSO with passport -->
    <!-- <div class="alt-sign-in-buttons">
        <ui-button kind="secondary"><img src="/assets/gitlab.png"/>Gitlab</ui-button>
        <ui-button kind="secondary"><img src="/assets/github.png"/>GitHub</ui-button>
        <ui-button kind="secondary"><img src="/assets/google.png"/>Google</ui-button>
      </div> -->  
</app-page>

