<ui-dialog class="login-wrapper" [buttons]="buttons">
  <div class="flex justify-between">
    <h2 class="mb-4" i18n>Log in</h2>
    <ui-button kind="accent" (click)="openRegister()" i18n>Register?</ui-button>
  </div>

  <div class="grid grid-cols-2 gap-2 social-login mt-4">
    <ui-button class="facebook w-full" (click)="loginWithFacebook()"
      ><img class="w-8 h-8" src="assets/facebook.png"
    /></ui-button>
    <ui-button class="google w-full" (click)="loginWithGoogle()"
      ><img class="w-8 h-8" src="assets/google.png"
    /></ui-button>
  </div>

  <div class="relative py-4">
    <span
      class="absolute left-0 right-0 mx-auto my-auto w-20 h-6 top-0 bottom-0 bg-white text-center text-opacity-75 uppercase"
      i18n
      >OR</span
    >
    <ui-hr></ui-hr>
  </div>

  <ui-form [form]="loginForm"> </ui-form>

  <div class="flex justify-between items-center">
    <app-terms-links class="my-2"></app-terms-links>
    <a class="text-black hover:text-pink-600 cursor-pointer whitespace-nowrap" (click)="openPasswordResetDialog()" i18n
      >Forgot Password?</a
    >
  </div>
</ui-dialog>
