<div class="flex bg-gray-300 h-full items-center">
  <div class="grid grid-rows-2 p-8">
    <div class="flex justify-center mt-10 mb-20">
      <img class="w-1/3" src="/assets/logo.png" alt="" srcset="" />
    </div>
    <div class="flex space-x-4 justify-around text-center">
      <div class="justify-items-center">
        <h2>Watch</h2>
        <h5 class="mb-10">
          If you are an audience member StageUp provides a plethora of performing arts content, from theatre productions to live music. Click below to enter:
        </h5>
        <ui-button class="text-center" size="l" kind="primary" (click)="gotoClientLanding()"><strong>Continue to Watch...</strong></ui-button>
      </div>
      <div class="justify-items-center">
        <h2>Create</h2>
        <h5 class="mb-10">
          If you are a performing arts company and are looking to generate new digital revenue streams using your
          content then click below:
        </h5>
        <ui-button class="text-center" size="l" kind="primary" (click)="goToHostLanding()"><strong>Continue to Create...</strong></ui-button>
      </div>
    </div>
  </div>
</div>
