<div class="profile-wrapper" *ngIf="!loading">
  <div class="profile-cover-container">
    <div class="profile-covers">
      <img
        class="profile-cover-blur"
        src="https://img5.goodfon.com/wallpaper/nbig/b/27/greenhouse-plants-green-tropical-exotic-nature-interior.jpg"
      />
      <img
        class="profile-cover"
        src="https://img5.goodfon.com/wallpaper/nbig/b/27/greenhouse-plants-green-tropical-exotic-nature-interior.jpg"
      />
      <div class="profile-cover-gradient"></div>
    </div>
    <div class="profile-cover-body">
      <div class="avatar-container">
        <img src="{{ authorUser.avatar }}" />
      </div>

      <div class="profile-cover-body__content">
        <h1>{{ authorUser.name }}</h1>
        <!-- <p>
          @{{ authorUser.username }} · Posts {{ authorUser.meta.posts }} ·
          Followers {{ authorUser.meta.followers }} · Following
          {{ authorUser.meta.following }}
        </p> -->
        <p id="bio">{{ authorUser.bio }}</p>
      </div>
    </div>

    <div *ngIf="showOutlet" class="tab-body-header">
      <button mat-icon-button (click)="goBackToProfile()">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
      <h3>{{ outletTitle }}</h3>
    </div>
  </div>

  <div class="profile-body-container">
    <div class="profile-body" *ngIf="authorUser"></div>
  </div>
</div>
