<form [formGroup]="fg" class="grid grid-cols-12 gap-x-3">
  <div [class]="'col-span-'+(field.value['width'] || 12)" *ngFor="let field of fields | keyvalue: keepOrder"
    [ngSwitch]="field.value['type']">
    <div class="form-field-container" *ngSwitchCase="'container'">
      <h1 *ngIf="field.value.options?.header_level == 1">{{ field.value["label"] }}</h1>
      <h2 *ngIf="field.value.options?.header_level == 2 || field.value.options?.header_level == null">{{
        field.value["label"] }}</h2>
      <h3 *ngIf="field.value.options?.header_level == 3">{{ field.value["label"] }}</h3>
      <h4 *ngIf="field.value.options?.header_level == 4">{{ field.value["label"] }}</h4>
      <h5 *ngIf="field.value.options?.header_level == 5">{{ field.value["label"] }}</h5>
      <h6 *ngIf="field.value.options?.header_level == 6">{{ field.value["label"] }}</h6>
      <label class="mb-1 inline-block" *ngIf="field.value.options?.header_level == 0">{{ field.value["label"] }}</label>
      <p *ngIf="field.value['hint']">{{ field.value["hint"] }}</p>
      <ui-form-body [fields]="field.value['fields']" [fg]="fg.controls[field.key]"></ui-form-body>
    </div>

    <ui-input *ngSwitchDefault [class]="'col-span-'+(field.value['width'] || 12)" [type]="field.value['type']"
      [label]="field.value['label']" [hint]="field.value['hint']" [kind]="field.value['kind']"
      [options]="field.value['options']" [placeholder]="field.value['placeholder']" [initial]="field.value['initial']"
      [required]="fieldIsRequired(field.value)" [validatorFunctions]="field.value['validators']"
      [formControlName]="field.key">
      {{ field.key }}
    </ui-input>
  </div>
</form>