mat-expansion-panel {
  position: relative;
  border-radius: 0 !important;
  mat-panel-title {
    width: 250px;
    max-width: 250px;
    overflow: hidden;
    display: flex;
    align-items: center;
    ui-icon {
      margin-right: 8px;
    }
    b {
      margin-top: 2px;
    }
  }
  mat-progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &.flat {
    box-shadow: none !important;
    &.mat-expanded .mat-expansion-panel-header {
      background-color: #f6f6f6 !important;
    }
    ::ng-deep .mat-expansion-panel-body {
      padding: 0;
    }
  }
}
