<mat-expansion-panel #panelRef (click)="click($event)" [class.flat]="variant == 'flat'">
    <mat-expansion-panel-header>
      <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
      <mat-panel-title>
        <ui-icon *ngIf="icon">{{icon}}</ui-icon><b>{{ title }}</b>
      </mat-panel-title>
      <mat-panel-description>
          {{ description }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div *ngIf="open">
      <ng-content></ng-content>
    </div>

</mat-expansion-panel>
