.onboarding-step-meta {
  li {
    overflow: visible;
    &.is-admin {
      @apply bg-white p-2 rounded shadow-sm mb-2;
      position: relative;
    }

    ui-button {
      margin-right: 10px;
      max-height: 32px;
      width: 32px;
      ::ng-deep button {
        height: 32px;
        width: 32px;
        min-height: 0;
      }
    }

    p {
      margin: 0;
      b {
        min-width: 250px;
        width: 20%;
        display: inline-block;
      }
    }
  }
}
