<mat-spinner *ngIf="onboardingSteps.loading"></mat-spinner>
<ng-container *ngIf="onboardingFields">
  <div *ngFor="let step of onboardingFields | keyvalue: keepOrder">
    <h3>{{ step.key | onboardingStepPipe }}</h3>

    <ul class="onboarding-step-meta">
      <li *ngFor="let field of step.value; let idx = index" class="mb-2" [class.is-admin]="adminView">
        <div class="flex items-center">
          <ui-button
            variant="s"
            *ngIf="adminView"
            (click)="addFieldIssue(step.key, idx)"
            [disabled]="field.valid || isActiveIssueMaker(step.key, idx)"
            icon="add"
          >
          </ui-button>

          <mat-checkbox
            class="mr-4"
            *ngIf="adminView"
            [(ngModel)]="field.valid"
            [checked]="field.issues?.length || field.valid"
            [disabled]="reviewOnboarding.loading"
          >
          </mat-checkbox>

          <p class="flex-1 flex" [class.cursor-pointer]="adminView">
            <b (click)="field.valid = !field.valid"> {{ field.prettyKey | titlecase }}: </b> {{ field.value }}
          </p>
        </div>

        <app-onboarding-view-issue-maker [isActive]="isActiveIssueMaker(step.key, idx)" [field]="field">
        </app-onboarding-view-issue-maker>
      </li>
    </ul>

    <ui-hr></ui-hr>
  </div>

  <div class="flex align-center items-center" *ngIf="adminView">
    <ui-button
      variant="primary-l"
      [disabled]="getUncheckedCount() > 0"
      [loading]="reviewOnboarding.loading"
      (click)="reviewOnboardingProcess()"
      i18n
    >
      Review Onboarding Process
    </ui-button>

    <p class="ml-4 my-auto" i18n>{{ getUncheckedCount() }} steps unchecked</p>

    <ui-button class="ml-auto" (click)="checkAll()" i18n>Check all</ui-button>
  </div>
</ng-container>
