<mat-spinner *ngIf="onboardingSteps.loading"></mat-spinner>
<ng-container *ngIf="onboardingFields">
  <div *ngFor="let step of onboardingFields | keyvalue: keepOrder" [ngSwitch]="step.key">
    <h3 *ngSwitchCase="0">Proof of Business</h3>
    <h3 *ngSwitchCase="1">Owner Details</h3>
    <h3 *ngSwitchCase="2">Social Presence</h3>
    <h3 *ngSwitchCase="3">Add Members</h3>
    <h3 *ngSwitchCase="4">Subscription Configuration</h3>
  
    <ul class="onboarding-step-meta">
      <li *ngFor="let field of step.value" class="flex align-middle mb-2">
        <mat-checkbox *ngIf="adminView" [checked]="field.valid" [disabled]="enactOnboarding.loading"></mat-checkbox>
        <b>{{ field.key | titlecase }}:</b> {{ field.value }}
      </li>
    </ul>
  
    <ui-hr></ui-hr>
  </div>
  
  <br />
  
  <ui-button
    *ngIf="adminView"
    [loading]="enactOnboarding.loading"
    (click)="enactOnboardingProcess()"
    kind="primary"
    size="l">
      Enact
  </ui-button>
</ng-container>
