<div class="performance-thumb">
  <div class="performance-thumb__content">
    <h1>{{ performance.name }}</h1>
    <p>
      {{ (performance.description.length > 70)
      ? performance.description.slice(0,70) + '...'
      : performance.description
      }}
    </p>
    <div class="content-footer">
      <span>@{{ performance.host?.name }}</span>
      <span>{{ performance.views }} viewers</span>
    </div>
  </div>
	<!-- TODO: Add performance thumbnails -->
  <img class="performance-thumb__icon"
    [src]="'/assets/performance-placeholder.jpeg'"
    alt="">
  <div class="performance-thumb__gradient"></div>
  <ui-icon class="performance-thumb__expand">overflow-menu--horizontal</ui-icon>
  <span class="performance-thumb__live">● LIVE</span>
</div>