<ui-dialog *ngIf="!multipleRefunds" [buttons]="buttons" title="Refund request" [loading]="$loading | async">
    <ng-container *ngIf="invoice.data">
    <h4 i18n>Invoice Number: <span class="opacity-50">#{{ invoice.data.invoice_id }}</span></h4>
    <h5 i18n>Amount: {{ invoice.data.amount | currencyPipe: invoice.data.currency }}</h5>
    <h5 i18n>Contact Details:</h5>
    <h5 i18n>Username: {{ invoice.data.user.username }} </h5>
    <h5 i18n>Refund Reason:</h5>
    <p>{{ refunds.data[0].request_reason | refundReasonPipe }}</p>
    <h5 i18n>Reason details:</h5>
    <p>{{ refunds.data[0].request_detail}}</p>
</ng-container>
</ui-dialog>
<ui-dialog *ngIf="multipleRefunds" [buttons]="buttons" title="Bulk refund request" [loading]="$loading | async">
    <ng-container *ngIf="invoice.data">
    <h4 i18n>Invoice Number: <span class="opacity-50">#{{ invoice.data.invoice_id }}</span></h4>
    <h5 i18n>Amount: {{ invoice.data.amount | currencyPipe: invoice.data.currency }}</h5>
    <h5 i18n>Contact Details:</h5>
    <h5 i18n>Username: {{ invoice.data.user.username }} </h5>
    <h5 i18n>Refund Reason:</h5>
    <p>{{ refunds.data[0].request_reason | refundReasonPipe }}</p>
    <h5 i18n>Reason details:</h5>
    <p>{{ refunds.data[0].request_detail}}</p>
</ng-container>
</ui-dialog>