mat-header-row {
  min-height: 49px;
  border-bottom: 1px solid #f4f4f4;
}
mat-header-cell {
  background: #e0e0e0;
}
mat-cell {
  background-color: #fff;
}
mat-row {
  border-bottom: 1px solid #e0e0e0;
}
// ibm-table-container {
//     padding: 0 !important
// }
