<h2 i18n>Opt-Ins</h2>
<ui-hr></ui-hr>

<div>
  <b i18n>Marketing</b>
  <p i18n>
    These are performing arts companies that you've purchased performances from who may contact you with offers for
    other similar performances. You can opt out of being contacted below.
  </p>
</div>

<ui-table [table]="table"></ui-table>

<mat-slide-toggle
  [checked]="myself.user.is_hiding_host_marketing_prompts"
  (change)="toggleFutureHostMarketingPrompts($event)"
  i18n
>
  Don't show me any direct marketing offers from performing arts companies on StageUp
</mat-slide-toggle>
<div *ngIf="userDeclinesPlatformMarketing !== undefined" class="mt-4">
  <mat-slide-toggle [checked]="userDeclinesPlatformMarketing" (change)="togglePlatformMarketing($event)" i18n>
    Opt out of all direct marketing from StageUp
  </mat-slide-toggle>
</div>
