<div class="footer" *ngIf="!small">
  <div class="bottom">
    <img src="/assets/logo.svg" class="footer-logo" alt="">
    <p>Live streaming & VoD for Performance Arts</p>

    <div class="bottom-content">
      <div>
        <a href="https://blog.stageup.uk/">Blog</a>
        <a href="">Contribute</a>
        <a href="">Terms of use</a>
        <a href="">Privacy</a>
        <a href="">Documentation</a>
      </div>
    </div>
  </div>
</div>

<div class="footer-small" *ngIf="small">
  <div class="left">
    <img src="/assets/elogo.jpg" />
    <span>2020</span>
  </div>

  <div class="right">
    <ui-icon-button size="l">logo--twitter</ui-icon-button>
  </div>
</div>