.footer {
  width: 100%;
  overflow: hidden;
  background: #fcfcfc;
}

.bottom {
  padding: 10px;
  color: #000000;
  display: flex;
  flex-flow: column;
  a {
    color: #242323;
    text-decoration: none;
  }
}

.rounder {
  z-index: 99;
  height: 50px;
  width: 50px;
}
