mat-error.form {
  display: inline-block !important;
  margin-left: 20px;
}

.register-wrapper {
    display: flex;
    overflow: hidden;
    background-color: white;
}

.labelBeforeSlide {
  vertical-align: top;
  line-height: 24px; 
  margin-right:0.5rem;
  margin-bottom:0.5rem;
}
