<ui-dialog class="register-wrapper" [buttons]="buttons" [loading]="registerForm.loading | async">
  <div class="flex justify-between align-middle mb-4">
    <h2 class="mb-0" i18n>Register</h2>
    <div class="flex align-middle">
      <span class="my-auto mr-4">
        <mat-label class="labelBeforeSlide" i18n>Audience</mat-label>
        <mat-slide-toggle [checked]="isBusinessRegister" (change)="onToggleChange($event)" i18n
          >Business</mat-slide-toggle
        >
      </span>
      <ui-button kind="secondary" (click)="openLogin()" i18n>Login?</ui-button>
    </div>
  </div>

  <ui-form [form]="registerForm"></ui-form>
  <app-terms-links class="my-2"></app-terms-links>
</ui-dialog>
