<div class="list-wrapper">
  <div class="table-wrapper">
    <ui-section-header title="Devices" subtitle="IoT device management">
    </ui-section-header>

    <div class="top-bar">
      <div class="fill"></div>
      <ui-icon>search</ui-icon>
      <ui-button variant="secondary">Clear all filters</ui-button>
      <ui-icon-button>filter</ui-icon-button>
      <ui-icon-button>join--inner</ui-icon-button>
    </div>

    <div class="input-bar">

    </div>

    <mat-table *ngIf="devices.data" [dataSource]="dataSource" multiTemplateDataRows>
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-spinner [diameter]="25" *ngIf="expandedElement === element && isLoadingDevice && !midTransition"></mat-spinner>
          <ui-icon #dropdownIcon *ngIf="expandedElement !== element || midTransition && !isLoadingDevice">chevron--down</ui-icon>
          <ui-icon #dropdownIcon *ngIf="expandedElement === element && !isLoadingDevice && !midTransition">chevron--up</ui-icon>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="_id">
        <mat-header-cell *matHeaderCellDef> _id </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element._id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="last_ping">
        <mat-header-cell *matHeaderCellDef> Last ping </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.last_ping | amTimeAgo}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <ui-chip color="red">{{element.state | uppercase}}</ui-chip>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <mat-cell *matCellDef="let element">
          <!-- only show one router-outlet to prevent many device fetches -->
          <!-- keep active while midTransition to stop jumpy closes from height diff-->
          <div class="device-body" *ngIf="element === expandedElement || (element._id == midTransition)">
            <router-outlet></router-outlet>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="devices.tableRows; sticky: true"></mat-header-row>

      <mat-row *matRowDef="let element; columns: devices.tableRows;" class="device-row"
        [class.active]="element == expandedElement"
        [class.example-expanded-row]="expandedElement === element"
        (click)="openDeviceDetail(element)">
      </mat-row>

      <mat-row class="device-body-row"
        [class.active]="element == expandedElement"
        [@detailExpand]="!isLoadingDevice && element == expandedElement ? 'expanded' : 'collapsed'"
        *matRowDef="let element; columns: ['expandedDetail']">
      </mat-row>
    </mat-table>

    <mat-paginator [length]="10" [pageSize]="5" [pageSizeOptions]="[5,10]">
    </mat-paginator>
  </div>
</div>
