@import 'apps/frontend/src/styles/variables';

:host {
  display: inline-block;
}

.ui-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  outline: 0;
  overflow: hidden;
  position: relative;
  user-select: none;
  transition: background-color 0.2s;
  border-radius: 4px;
  width: inherit;
  .ui-button__icon,
  mat-spinner {
    margin-right: 10px;
  }
  &--s {
    padding: 7px 10px;
    font-size: 15px;
    font-weight: 500;
    line-height: 0;
    min-height: 30px;
    mat-spinner {
      margin-left: 7px;
    }
    ui-icon {
      transform: scale(0.8);
      margin-right: 4px;
      margin-left: 4px;
    }
  }
  &--m {
    padding: 8px 16px;
  }
  &--l {
    font-size: 18px;
    padding: 16px 48px 16px 16px;
  }
  &--transparent {
    background-color: transparent !important;
    border: none !important;
  }
  &:disabled {
    // background-color: #efefef;
    opacity: 0.5;
    &:hover {
      cursor: not-allowed;
      pointer-events: all !important;
    }
  }
}

:host(.disabled) ::ng-deep{
  // Disable click event.
  pointer-events: none;
}

.ui-button--primary {
  background-color: $clr-primary;
  color: white;
  &:hover {
    background-color: $clr-primary-dk;
  }
  ::ng-deep .mat-spinner circle {
    stroke: $clr-base !important;
  }
}

.ui-button--secondary {
  background-color: $clr-secondary;
  color: white;
  &:hover {
    background-color: $clr-secondary-lt;
  }
  .ripple {
    background-color: rgba($color: #fff, $alpha: 0.2) !important;
  }
  ::ng-deep .mat-spinner circle {
    stroke: $clr-base !important;
  }
}

.ui-button--accent {
  background-color: white;
  color: #000000;
  border: 1px solid #dedede;
  &:hover {
    background-color: $clr-base-lt;
  }
}

.ui-button--warning {
  background-color: $clr-warning;
  color: white;
  &:hover {
    background-color: darken($clr-warning, 10%);
  }
  ::ng-deep .mat-spinner circle {
    stroke: $clr-base !important;
  }
}

.ui-button--danger {
  background-color: lighten($clr-red-drk, 20%);
  color: white;
  &:hover {
    background-color: lighten($clr-red-drk, 10%);
  }
  ::ng-deep .mat-spinner circle {
    stroke: $clr-base !important;
  }
}

.ui-button--clear-dark {
  background-color: black;
  color: white;
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
  ::ng-deep .mat-spinner circle {
    stroke: $clr-base !important;
  }
}

.ui-button--clear-outline {
  background-color: none;
  color: white;
  border: 1px white solid;
  border-radius: 0.3rem;
  &:hover {
    background-color: white;
    color: black
  }
  .ripple {
    background-color: rgba($color: #fff, $alpha: 0.2) !important;
  }
  ::ng-deep .mat-spinner circle {
    stroke: $clr-base !important;
  }
}

.ripple {
  background-color: rgba($color: #000000, $alpha: 0.1);
  width: 1rem;
  height: 1rem;
  position: absolute;
  border-radius: 50%;
  transform: translateX(-100%) translateY(-100%);
  // mix-blend-mode: screen;
  animation: ripple 2000ms ease-out forwards, fade 500ms ease-out forwards;
}

@keyframes ripple {
  0% {
    transform: translate(-100%, -100%);
  }
  80% {
    transform: translate(-100%, -100%) scale(50);
  }
  100% {
    transform: translate(-100%, -100%) scale(50);
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
