  <p>A couple of steps need to be completed before you can start</p>

  <mat-vertical-stepper [linear]="true" #matStepper>

    <mat-step [stepControl]="avatarImageFormGroup" optional>
      <div class="selected-image-container">
        <div class="image-wrapper">
          <img src={{selectedImage}} id="avatar-preview"/>
        </div>
      </div>

      <form [formGroup]="avatarImageFormGroup">
        <ng-template matStepLabel>Upload an avatar</ng-template>

        <input hidden (change)="onAvatarFileSelected()" #fileInput type="file" id="file" formControlName="avatar">
        <ui-button icon="attachment" [variant]="fileTypeError ? 'warn' : 'primary'" (click)="fileInput.click()" class="select-file">
            {{buttonText}}
        </ui-button>

        <ui-icon-button size="m" variant="secondary" *ngIf="hasSelectedImage" (click)="clearAvatar()">
          close
        </ui-icon-button>

        <p>images must be &lt;500kb in size & either jpg or png</p>

        <div class="avatar-submit">
          <ui-button
            [variant]="hasSelectedImage ? (errorMessage ? 'warn' : 'primary') : 'accent'"
            [loading]="loading"
            [disabled]="loading"
            (click)="handleUploadImage()">{{hasSelectedImage ? (errorMessage ? 'Error' : 'Upload') : 'Skip'}}</ui-button>
          <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="userNameFormGroup">
      <form [formGroup]="userNameFormGroup">
        <ng-template matStepLabel>Add your name</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Full name</mat-label>
          <input matInput formControlName="name" placeholder="" required autocomplete="off">
          <mat-error>Name is required</mat-error>
        </mat-form-field>
        <div>

          <ui-button
            [variant]="errorMessage ? 'warn' : 'primary'"
            [disabled]="!userNameFormGroup.dirty || loading"
            [loading]="loading" (onClick)="handleSubmitName()">
              Continue
          </ui-button>
          <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Continue</ng-template>
      <h3>Welcome <b>{{userNameFormGroup.get('name').value}}</b>, you're ready to start browsing, for your information here are a few links to aid you along:</h3>
      <div>
        <br />
        <ui-button icon="arrow--right" variant="primary" (click)="finishFirstTimeSetup()">Continue</ui-button>
      </div>
    </mat-step>

  </mat-vertical-stepper>
