popper-content ::ng-deep {
  .user-dropdown-menu {
    border: 0px !important;
    padding: 0 !important;
    .buttons {
      width: 200px;
      display: flex;
      flex-flow: column;
      ui-button ::ng-deep {
        button {
          border: 0 !important;
          width: 100%;
        }
      }        
    }
  }
}

.logo {
  outline: none;
  transition: 0.2s;
  &:hover {
    cursor: pointer;
    transform: scale(1.1) rotate(10deg);
  }
}
