<div class="flex justify-between items-stretch h-14 w-full">
  <div class="center mr-auto search-box flex items-center w-1/3">
    <img *ngIf="!myself" src="/assets/stageup.svg" routerLink="/" class="w-12 h-12 logo" alt="" />
    <input
      [class.ml-4]="!myself"
      class="w-full p-2 px-4 bg-transparent rounded-full shadow bg-white outline-none ring-opacity-50 ring-2 ring-transparent focus:ring-pink-500"
      type="text"
      i18n-placeholder="@@header-search-bar"
      placeholder="Search for performances..."
      (keydown.enter)="search(searchBox.value)"
      #searchBox
    />
  </div>

  <div class="right ml-auto flex items-center">
    <div class="py-2 px-4 flex items-center bg-white rounded-full shadow">
      <ui-icon *ngIf="myself">notification--new</ui-icon>

      <div class="flex" *ngIf="!myself">
        <ui-button
          [transparent]="true"
          class="flex-initial mr-4"
          kind="accent"
          icon="login"
          (click)="openLoginDialog()"
          i18n="@@log"
          >Log In</ui-button
        >
        <ui-button
          [transparent]="true"
          class="flex-initial mr-4"
          kind="accent"
          icon="user"
          (click)="openRegisterDialog()"
          >Register</ui-button
        >
      </div>

      <div
        class="flex items-center cursor-pointer"
        *ngIf="myself"
        [popper]="userDropdownMenu"
        [popperShowOnStart]="false"
        [popperHideOnClickOutside]="true"
        [popperHideOnScroll]="true"
        [popperApplyClass]="'user-dropdown-menu'"
        popperTrigger="click"
        popperPlacement="bottom"
      >
        <img class="rounded-full w-8 h-8 mx-4 object-cover" [src]="myself.user.avatar" alt="" />
        <span>{{ myself.user.name || myself.user.username }}</span>
        <ui-icon class="ml-1">caret--down</ui-icon>
      </div>
    </div>
  </div>
</div>

<popper-content #userDropdownMenu class="rounded-full overflow-hidden">
  <div class="buttons">
    <ui-button icon="exit" (click)="userLogout()" i18n>Logout</ui-button>
  </div>
</popper-content>
