<div class="header-container">
  <div class="left">
  </div>

  <div class="right">
    <div class="header-search">
      <!-- <ui-icon>search</ui-icon> -->
      <ui-input class="w-80" type="text" placeholder="Search for performances..." (keydown.enter)="searchPerformances(searchBox.value)" #searchBox></ui-input>
    </div>

    <ui-icon class="header-notification" *ngIf="myself">notification--new</ui-icon>

    <div class="header-user" *ngIf="myself">
      <img [src]="myself.user.avatar" alt="">
      <span>{{ myself.user.name || myself.user.username }}</span>
      <ui-icon [popper]="dropdownMenu" [popperShowOnStart]="false" [popperTrigger]="'click'" [popperHideOnClickOutside]="true"
      [popperHideOnScroll]="true" [popperPlacement]="'bottom'">caret--down</ui-icon>      
    </div>

    <div class="flex" *ngIf="!myself">
      <ui-button class="flex-initial mr-4" kind="accent" icon="login" (click)="openLoginDialog()">Log In</ui-button>
      <ui-button class="flex-initial mr-4" kind="accent" icon="user" (click)="openRegisterDialog()">Register</ui-button>
    </div>

    <!-- * DROPDOWN MENU * -->  
    <popper-content #dropdownMenu class="shadow-xl">
      <div class="container px-4 py-2 text-gray-600 hover:bg-white hover:text-black">
        <button>Profile</button>
      </div>
      <div class="container px-4 py-2 text-gray-600 hover:bg-white hover:text-black">
        <button>Settings</button>
      </div>
      <a>
        <hr class="border-t mx-2">
      </a>
      <div class="container px-4 py-2 text-gray-600 hover:bg-white hover:text-black">
        <button (click)="userLogout()">Logout</button>
      </div>
    </popper-content>
</div>
