<div class="profile-container">
    <h2>Public Profile</h2>
    <ui-hr></ui-hr>

    <div class="profile-picture__container">
      <img [src]="user.avatar" alt="">
      <ui-button (click)="openChangeAvatarDialog()" kind="accent"><ui-icon size="s">paint-brush--alt</ui-icon>Edit</ui-button>    
    </div>

    <br>

    <ui-form
      (onSuccess)="handleSuccessfulUpdate($event)"
      [form]="profileDetailsForm"
      [cacheable]="userCacheable">
    </ui-form>

    <h2 class="mt-8">Contact Information</h2>
    <ui-hr></ui-hr>

    <ng-container *ngIf="myself.host">
      <h2 class="mt-8">Relation to Company</h2>
      <ui-hr></ui-hr>
      <app-user-thumb [user]="myself.host"></app-user-thumb>

      <h2 class="mt-8">Default Homepage</h2>
      <ui-hr></ui-hr>
      <mat-label class="label-before-slide">Home Screen</mat-label>
      <mat-slide-toggle
        [checked]="myself.host_info.prefers_dashboard_landing"
        (change)="updateLandingPage($event)">
          Dashboard
      </mat-slide-toggle>
    </ng-container>

    <h2 class="mt-8">Membership Options</h2>
    <ui-hr></ui-hr>

    <h2 class="mt-8">Delete Account</h2>
    <ui-hr></ui-hr>
</div>