<ng-container *ngIf="data.performance">
  <mat-spinner *ngIf="data.performance.loading"></mat-spinner>
  <div class="h-full" *ngIf="data.performance.data">
    <ui-button (click)="gotoPerformancesList()" [transparent]="true" buttonStyle="secondary"
      class="absolute right-2 top-2 z-10">
      <ui-icon size="l">arrow--left</ui-icon>
    </ui-button>

    <div class="h-1/4 flex align-middle justify-center bg-gray-200 relative">
      <img [src]="host.banner || '/assets/performance-placeholder.jpeg'" class="w-full h-full object-cover absolute"
        alt="">
      <div class="bg-gradient-to-b from-black to-transparent h-full w-full opacity-75 absolute bottom-0 left-0"></div>

      <img
        class="host-icon rounded-full object-cover bg-white shadow-lg h-32 w-32 mt-auto relative z-10 overflow-hidden"
        [src]="host.avatar || '/assets/avatar-placeholder.png'" alt="">
    </div>

    <div class="flex flex-col mt-16 sidebar-main-buttons">
      <ui-button buttonStyle="accent-l" [routerLinkActiveOptions]="{exact: true}"
        [routerLink]="'/dashboard/performances/'+performance._id" routerLinkActive="active">
        <p>Details</p>
      </ui-button>

      <ui-button buttonStyle="accent-l" [routerLink]="'/dashboard/performances/'+performance._id+'/ticketing'"
        routerLinkActive="active">
        <p>Ticketing</p>
      </ui-button>

      <ui-button buttonStyle="accent-l" [routerLink]="'/dashboard/performances/'+performance._id+'/customise'"
        routerLinkActive="active">
        <p>Customization</p>
      </ui-button>

      <ui-button disabled="true" buttonStyle="accent-l"
        [routerLink]="'/dashboard/performances/'+performance._id+'/analytics'" routerLinkActive="active">
        <p>Analytics</p>
      </ui-button>
    </div>
  </div>
</ng-container>