.task-routines-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 20px;
    h1 {
        margin: 0;
    }
}

.task-routines-controller {
    margin-top: 10px;
    background-color: white;
}

.routine-item {
    margin-bottom: 20px;
    position: relative;

    .routine-menu-button {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .routine-header {
        display: flex;
        flex-flow: row;
        align-items: center;
        padding: 16px !important;
        height: auto !important;
        z-index: 9;
        h1 {
            margin: 0;
        }
        .routine-header-text {
            span {
                opacity: 0.7;
                b {
                    margin-right: 5px;
                }
            }
        }

    }

    .tasks-container {
        overflow: hidden;
        padding-bottom: 5px;
        mat-card.task-item {
            position: relative;
            display: flex;
            align-items: center;
            margin-bottom: 0;
            z-index: 9;
            h2 {
                margin: 0;
                span {
                    opacity: .7;
                    font-size: 14px
                }
            }
            span {
                margin: 0;
                padding: 0;
                opacity: .7;
                text-transform: lowercase;
            }
            .task-menu-button {
                position: absolute;
                top: 10px;
                right: 10px;
            }        
        }
        .task-progress-container {
            height: 50px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .task-time {
                opacity: .7;
                position: absolute;
                left: 85px;
                top: calc(50% - 4px);
            }

            &:not(.in_progress) {
                height: 10px;
            }
    
            .task-progress-indicator {
                width: 50px;
                overflow: hidden;
                transform: rotate(90deg);
                margin-left: 15px;
            }        
        }    
    }

    .task-indicator {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        margin-right: 20px;
        mat-icon {
            margin-top: 2px;
        }
        &.complete {    background-color: #61d800;}
        &.pending {     background-color: #714cfe; }
        &.failed {      background-color: #ff0043; }
        &.timed_out {   background-color: #fa8100; }
        &.inactive {    background-color: #999999; }
    }
}

ibm-table-container {
    width: 100%;
}