:host {
  width: 100%;
}

.ui-table {
  position: relative;
  min-height: 200px;
  width: 100%;
  background-color: white;

  .loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .table-container {
    position: relative;
    min-height: 200px;
    overflow: auto;
  }
}

mat-paginator ::ng-deep {
  .mat-paginator-page-size-label {
    white-space: nowrap;
  }
}

table {
  width: 100%;
}

.ui-table--dropdown {
  display: flex;
  flex-flow: column;
}

.ngxp__container {
  z-index: 999 !important;
  // position: relative !important;
}

table ::ng-deep {
  th {
    .mat-header-cell--content {
      display: flex;
      align-items: center;
    }

    .mat-sort-header-container {
      border: none !important;
    }
    ui-button.filter {
      ::ng-deep .ui-button {
        width: 30px;
        transition: opacity 0.2s;
        opacity: 0.4;
        padding: 0 !important;
        border: 0 !important;
        ui-icon {
          transform: scale(1.2);
        }
        &:hover {
          background: transparent !important;
          opacity: 1;
        }
      }
    }
    &.filter--is-active {
      ::ng-deep .ui-button {
        opacity: 1 !important;
      }
    }
  }
}

popper-content {
  text-align: left !important;
  z-index: 999;
}

.ui-table-filter--pointer-events {
  position: relative;
  height: 100%;
  width: 100%;
  .ui-table-filter {
    position: relative;
    z-index: 999;
  }
  // don't allow pointer events of popper content to bubble
  // into mat-select-header, which causes a sort
  .pointer-event-hack {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}

::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
  opacity: 0.5 !important;
  transform: translateY(0px) !important;
}

.ui-table--actions {
  display: flex;
  flex-flow: column;
  ui-button {
    margin: 0;
    ::ng-deep button {
      width: 100%;
      justify-content: flex-start;
    }
  }
}

.ui-table--paginator {
  position: relative;
  .paginator-footer-message {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 24px; //same offset as checkbox
    font-size: 12px;
    color: #0000008a;
    top: 0;
    bottom: 0;
    margin: auto;
    b {
      margin-right: 5px;
    }
  }
}

.is-clickable {
  &:hover {
    cursor: pointer;
  }
  text-decoration: underline;
  color: lighten(blue, 10%);
}

// For the 'toggle' action
.label-before-slide {
  vertical-align: top;
  line-height: 24px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.mat-header-cell{
  font-size: 18px;
  font-weight: 600;
  color: black;
}

::ng-deep .mat-sort-header-arrow[style] {

  // Hide default arrow stem
  .mat-sort-header-stem {
    display: none;
  }
  .mat-sort-header-indicator {
    opacity: 1;
    color: black;
    font-weight: bold;

    // Hide default arrow as its composed of left, right and middle
    .mat-sort-header-pointer-left, .mat-sort-header-pointer-right, .mat-sort-header-pointer-middle  {
      display: none;
    }
  }
}

ui-icon{
  color: #B7B7B7;
  font-size: 26px;
}

ui-icon:hover{
  color: gray
}

ui-button{
  padding: 0 4px;
}

.sort-icon{
  font-size: 26px;
}