<ng-container *ngIf="table">
  <div class="flex justify-between items-center pt-1">
    <h2 *ngIf="table.config.title">{{ table.config.title }}</h2>
    <p *ngIf="lastUpdated" class="block text-gray-500 mb-3" i18n>
      Updated as of {{ lastUpdated  }}
    </p>
    <ui-button
      kind="accent"
      *ngIf="table.selection"
      [disabled]="table.selection.selected.length == 0"
      [popper]="actionsMenu"
      [popperDisabled]="table.selection.selected.length == 0"
      [popperHideOnClickOutside]="true"
      [popperTrigger]="'click'"
      [popperPositionFixed]="true"
      [popperPreventOverflow]="false"
      [popperPlacement]="'bottom'"
    >
      <span i18n="@@table_actions">Actions</span> &nbsp; <ui-icon>caret--down</ui-icon>
    </ui-button>
  </div>

  <div class="ui-table" *ngIf="true">
    <div class="loading-shade" *ngIf="table.loading | async">
      <mat-spinner></mat-spinner>
    </div>

    <div class="table-container">
      <table
        [@.disabled]="true"
        mat-table
        [dataSource]="table._dataSource"
        matSort
        matSortDisableClear
        (matSortChange)="table.selection?.clear()"
      >
        <!-- Checkbox Column -->
        <ng-container matColumnDef="__select" *ngIf="table.selection">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              (change)="$event ? table.toggleAllRowsSelection() : null"
              [checked]="table.selection.hasValue() && table.areAllRowsSelected()"
              [indeterminate]="table.selection.hasValue() && !table.areAllRowsSelected()"
            >
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (change)="$event ? table.selectRow(row) : null" [checked]="table.selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Custom table columns -->
        <ng-container *ngFor="let column of table.config.columns | keyvalue" [matColumnDef]="column.key">
          <!-- Do this bodge with the two mat-header-cells because you can't have dynamic directives... -->
          <ng-container *ngIf="column.value.sort">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              [class.filter--is-active]="table._activeFilters[column.key]"
            >
              <ng-container *ngTemplateOutlet="header"></ng-container>
              <ui-icon mat-header-cell size="m" *ngIf="table._sortDirection !='DESC'">sort--ascending</ui-icon>
              <ui-icon mat-header-cell size="m" *ngIf="table._sortDirection =='DESC'">sort--descending</ui-icon>
            </th>
          </ng-container>
          <ng-container *ngIf="!column.value.sort">
            <th mat-header-cell *matHeaderCellDef [class.filter--is-active]="table._activeFilters[column.key]">
              <ng-container *ngTemplateOutlet="header"></ng-container>
            </th>
          </ng-container>

          <ng-template #header>
            <div class="mat-header-cell--content">
              <span>{{ column.value.label }}</span>
              <ui-button
                *ngIf="column.value.filter"
                (click)="openFilterPopover($event)"
                [centerRipple]="true"
                [popper]="filterMenu"
                [popperHideOnClickOutside]="false"
                [popperTrigger]="'click'"
                [popperPositionFixed]="true"
                [popperPreventOverflow]="false"
                [popperPlacement]="'bottom'"
                size="s"
                class="ml-2 rounded-full overflow-hidden filter"
                [class.filter--is-active]="table._activeFilters[column.key]"
              >
                <ui-icon size="m" *ngIf="!table._activeFilters[column.key]">filter</ui-icon>
                <ui-icon size="m" *ngIf="table._activeFilters[column.key]">filter--edit</ui-icon>
              </ui-button>

              <popper-content #filterMenu (click)="$event.stopPropagation()">
                <div
                  class="ui-table--filter"
                  *ngIf="column.value.filter"
                  (click)="$event.stopPropagation()"
                  (clickOutside)="closeAllPoppers()"
                  [exclude]="'.mat-option,popper-content,.mat-datepicker-content'"
                  [excludeBeforeClick]="true"
                  [ngSwitch]="column.value.filter.type"
                >
                  <ui-filter-string
                    *ngSwitchCase="'STR'"
                    (onChange)="setFilter(column.key, $event)"
                    [active]="table._activeFilters[column.key]"
                  >
                  </ui-filter-string>

                  <ui-filter-enum
                    *ngSwitchCase="'ENUM'"
                    (onChange)="setFilter(column.key, $event)"
                    [active]="table._activeFilters[column.key]"
                    [enum]="column.value.filter.enum"
                  >
                  </ui-filter-enum>

                  <ui-filter-boolean *ngSwitchCase="'BOOL'"> </ui-filter-boolean>

                  <ui-filter-date
                    *ngSwitchCase="'DATE'"
                    (onChange)="setFilter(column.key, $event)"
                    [active]="table._activeFilters[column.key]"
                  >
                  </ui-filter-date>

                  <ui-filter-number
                    *ngSwitchCase="'NUM'"
                    (onChange)="setFilter(column.key, $event)"
                    [active]="table._activeFilters[column.key]"
                  >
                  </ui-filter-number>
                </div>
              </popper-content>
            </div>
          </ng-template>

          <!-- Table Cell for rows column data -->
          <td
            (click)="column.value.click_handler && column.value.click_handler(element.__data)"
            mat-cell
            *matCellDef="let element"
          >
            <div class="flex items-center space-x-2" [class.py-2]="column.value.image">
              <img
                class="w-12 h-12 rounded-full object-cover overflow-hidden"
                [src]="column.value.image(element.__data)"
                alt=""
                *ngIf="column.value.image"
              />
              <ui-chip
                *ngIf="column.value.chip_selector; else primitive"
                [kind]="column.value.chip_selector(element.__data)"
              >
                {{ element[column.key] }}
              </ui-chip>
              <ng-template #primitive>
                <span [class.is-clickable]="column.value.click_handler">
                  {{ element[column.key] }}
                </span>
              </ng-template>
            </div>
          </td>
        </ng-container>

        <!-- Table actions column -->
        <ng-container matColumnDef="__actions" *ngIf="table.config.actions">
          <th mat-header-cell *matHeaderCellDef i18n="@@table_actions">Actions</th>
          <td mat-cell *matCellDef="let element">
            <div class="ui-table--actions">
              <ng-container *ngFor="let action of table.config.actions">
                <ng-container *ngIf="action.type != 'toggle'">
                  <ui-button
                    [popper]="dropdownMenu"
                    [popperHideOnClickOutside]="true"
                    [popperTrigger]="action.dropdown ? 'click' : 'none'"
                    [popperPositionFixed]="true"
                    [popperPreventOverflow]="false"
                    [popperPlacement]="'bottom'"
                    [kind]="action.kind || 'accent'"
                    (click)="action.click(element.__data)"
                  >
                    <ui-icon *ngIf="action.icon" class="mr-2">{{ action.icon }}</ui-icon>
                    <span *ngIf="action.label">{{ action.label }}</span>
                  </ui-button>

                  <popper-content #dropdownMenu>
                    <div class="ui-table--dropdown">
                      <ui-button (click)="action.click(element.__data)" *ngFor="let dropdown of action.dropdown">
                        <ui-icon *ngIf="dropdown.icon">{{ dropdown.icon }}</ui-icon>
                        <span *ngIf="dropdown.label">{{ dropdown.label }}</span>
                      </ui-button>
                    </div>
                  </popper-content>
                </ng-container>
                <div *ngIf="action.type == 'toggle' && action.toggle">
                  <mat-label *ngIf="action.toggle.before_label" class="label-before-slide" i18n>{{
                    action.toggle.before_label
                  }}</mat-label>
                  <mat-slide-toggle
                    [checked]="action.toggle.initial_value(element.__data)"
                    (change)="action.toggle.event($event, element.__data)"
                    i18n
                  >
                    {{ action.toggle.primary_label }}
                  </mat-slide-toggle>
                </div>
              </ng-container>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="table._displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: table._displayedColumns"></tr>

        <!-- Row shown when there is no data / loading -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [colSpan]="table._displayedColumns.length">
            <span *ngIf="table.loading | async" i18n>Loading data...</span>
            <span *ngIf="!(table.loading | async)" i18n>No data found</span>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <!-- Actions popover, here for z-indexing purposes -->
  <popper-content #actionsMenu (click)="closeAllPoppers()">
    <div class="ui-table--actions" *ngIf="table.config.selection">
      <ui-button *ngFor="let action of table.config.selection?.actions" (click)="action.click(table.selection)">
        {{ action.label }}
      </ui-button>
    </div>
  </popper-content>

  <div class="ui-table--paginator">
    <mat-paginator
      *ngIf="table.config.pagination"
      [showFirstLastButtons]="table.config.pagination.show_first_last"
      [length]="table.cache.data?.__paging_data?.total || 0"
      (page)="table.selection?.clear()"
      [pageSizeOptions]="table.config.pagination.page_sizes"
    >
    </mat-paginator>

    <p *ngIf="table._footerMessage" class="paginator-footer-message">
      <b>{{ table._footerMessage.label }}</b>
      <span>{{ table._footerMessage.value }}</span>
    </p>
  </div>
</ng-container>
