<div class="create-host-container p-4">
  <h2 i18n>Create a Company Account</h2>

  <p i18n>
    Creating a company account gives you permissions to start streams & manage ticketing.<br />
    You will have to go through a further onboarding step before being to make your content public to StageUp users.
  </p>

  <ui-form [form]="hostForm"></ui-form>

  <ui-admonition class="pb-2" *ngIf="hostForm.cache.error" type="failure" i18n-title title="Error when sending form">
    {{ hostForm.cache.error }}
  </ui-admonition>

  <ui-button
    class="mb-4"
    variant="primary"
    (click)="hostForm.submit()"
    [disabled]="hostForm.group.disabled"
    [loading]="hostForm.loading | async"
    i18n
  >
    Create Host
  </ui-button>

  <app-terms-links></app-terms-links>
</div>
