<app-breadcrumb></app-breadcrumb>
<app-page>
  <div body>
    <div class="flex flex-row items-center">
      <h1 class="mb-0" i18n>Payments</h1>
      <mat-spinner class="ml-5" [diameter]="50" *ngIf="stripeInfo.loading"></mat-spinner>
    </div>

    <ui-hr></ui-hr>

    <p *ngIf="!host.is_onboarded" i18n>
      You cannot collect your Stripe account to StageUp before the onboarding process has been completed.
    </p>

    <div class="bg-white p-4 rounded shadow-sm mb-4" *ngIf="host.is_onboarded">
      <h2>Stripe</h2>
      <ui-hr></ui-hr>
      <ng-container *ngIf="stripeInfo.data">
        <p *ngIf="connectSuccess == false" i18n>An error occured while connecting Stripe, try again?</p>

        <p *ngIf="host.stripe_account_id">
          <span i18n>Connected account ID</span>: <b>{{ host.stripe_account_id }}</b
          ><br />
          <span i18n>Live charges enabled</span>: <b>{{ stripeInfo.data.is_stripe_connected }}</b>
        </p>

        <ng-container *ngIf="host.stripe_account_id == null && stripeInfo.data.is_stripe_connected == false">
          <ui-button
            class="stripe-button"
            variant="secondary-l"
            (click)="openConnectStripe()"
            [disabled]="connect.loading"
            [loading]="connect.loading"
          >
            <span i18n>Connect with</span>
            <svg width="100" height="50" xmlns="http://www.w3.org/2000/svg">
              <image href="/assets/stripe/logo.svg" width="100" height="50" />
            </svg>
          </ui-button>
        </ng-container>
      </ng-container>
    </div>

    <app-content-box>
      <app-host-invoices></app-host-invoices>
    </app-content-box>

    <!-- <app-content-box>
      <app-host-patronage></app-host-patronage>
      <ng-container *ngIf="host.stripe_account_id">
        <ui-hr></ui-hr>
        <app-host-patronage-subscribers></app-host-patronage-subscribers>
      </ng-container>
    </app-content-box> -->
  </div>
</app-page>
