<div class="assignment-wrapper" *ngIf="graph">
  <ui-button
    variant="primary"
    [disabled]="!selection.hasValue()"
    (click)="openAssignmentDialog()">
    Assign properties
  </ui-button>

  <mat-table [dataSource]="dataSource">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="property">
      <mat-header-cell *matHeaderCellDef>Property</mat-header-cell>
      <mat-cell *matCellDef="let element">{{graph.sources[element.key].name}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="assignee">
      <mat-header-cell *matHeaderCellDef>Assigned to</mat-header-cell>
      <mat-cell *matCellDef="let element">{{graph.sources[element.value]?.name || "Not assigned"}}</mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="unit">
      <mat-header-cell *matHeaderCellDef>Unit</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ dataFormatInfo[graph.sources[element.key].data_format]?.title }} ({{ dataFormatInfo[graph.sources[element.key].data_format]?.symbol }})</mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.key.split('-')[0] | titlecase}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)">
    </mat-row>
  </mat-table>

  <br/>
</div>


<div class="chart-wrapper">
  <highcharts-chart *ngIf="graph"
    [Highcharts]="Highcharts"
    [options]="chartData"
    style="height: 500px;">
  </highcharts-chart>
</div>
