<app-page>
  <div body *ngIf="host.data && !host.loading && host.data.data">
    <!-- Banner  -->
    <div class="host-profile-header bg-white rounded shadow-sm">
      <div class="banner-picture__container relative overflow-hidden rounded">
        <img class="object-cover w-full" [src]="host.data.data.banner || '/assets/banner-placeholder.png'" />
        <ui-button
          *ngIf="isHostView"
          (click)="openChangeBannerDialog()"
          class="absolute top-2 left-2"
          icon="paint-brush--alt"
          kind="accent"
        >
          <span i18n>Change banner</span>
        </ui-button>
      </div>

      <!-- Profile Image  -->
      <div class="profile-picture__container relative pl-4">
        <img
          [src]="host.data.data.avatar || '/assets/avatar-placeholder.png'"
          class="square object-cover absolute shadow-lg rounded-full w-64 h-64 z-10 bg-gray-100"
        />
        <ui-button
          *ngIf="isHostView"
          (click)="openChangeAvatarDialog()"
          icon="paint-brush--alt"
          class="z-10 absolute top-2 left-2"
          kind="accent"
        >
          <span i18n>Edit</span>
        </ui-button>
      </div>

      <!-- Offset by 64 + 4 for abs positioned image -->
      <div class="ml-8 pl-64 mt-14 p-4 pb-0 relative">
        <div>
          <h1 class="text-7xl mb-2">{{ host.data.data.name }}</h1>
          <div class="flex align-middle justify-between mb-2">
            <p class="flex-grow mr-2 mb-0 flex items-center">
              <span class="text-lg opacity-75 mr-4">@{{ host.data.data.username }}</span>
            </p>
            <div class="flex relative md:absolute right-64">
              <ui-icon
                class="cursor-pointer mr-4 hover:text-red-700"
                size="l"
                (click)="openSocialLink('site_url')"
                *ngIf="host.data.data.social_info.site_url"
                >wikis</ui-icon
              >
              <ui-icon
                class="cursor-pointer mr-4 hover:text-red-700"
                size="l"
                (click)="openSocialLink('facebook_url')"
                *ngIf="host.data.data.social_info.facebook_url"
                >logo--facebook</ui-icon
              >
              <ui-icon
                class="cursor-pointer mr-4 hover:text-red-700"
                size="l"
                (click)="openSocialLink('instagram_url')"
                *ngIf="host.data.data.social_info.instagram_url"
                >logo--instagram</ui-icon
              >
              <ui-icon
                class="cursor-pointer mr-4 hover:text-red-700"
                size="l"
                (click)="openSocialLink('twitter_url')"
                *ngIf="host.data.data.social_info.twitter_url"
                >logo--twitter</ui-icon
              >
              <ui-icon
                class="cursor-pointer mr-4 hover:text-red-700"
                size="l"
                (click)="openSocialLink('pinterest_url')"
                *ngIf="host.data.data.social_info.pinterest_url"
                >logo--pinterest</ui-icon
              >
              <ui-icon
                class="cursor-pointer mr-4 hover:text-red-700"
                size="l"
                (click)="openSocialLink('linkedin_url')"
                *ngIf="host.data.data.social_info.linkedin_url"
                >logo--linkedin</ui-icon
              >
              <ui-button
              id="shareButton"
              [popper]="shareMenu"
              [popperTrigger]="'click'"
              [popperPositionFixed]="true"
              [popperPreventOverflow]="false"
              [popperPlacement]="'bottom'"
              size="s"
              class="border-0"
            >
            <ui-icon
            size="l"
            >Share</ui-icon
          >
            </ui-button>
            <popper-content #shareMenu (click)="$event.stopPropagation()">
              <app-social-sharing [url]="hostSharingUrl"></app-social-sharing>
            </popper-content>
             
            </div>
            <div class="flex absolute right-2 top-0 w-auto">
              <ui-button [transparent]="true" class="flex-1" size="m">
                <ui-icon size="l">overflow-menu--horizontal</ui-icon>
              </ui-button>
              <app-follow-button [userFollowing]="userFollowing" [hostId]="host.data.data._id"></app-follow-button>
            </div>
          </div>

          <p *ngIf="host.data.data.bio">{{ host.data.data.bio }}</p>
        </div>

        <div class="flex">
          <mat-tab-group (selectedTabChange)="openTabLink($event)" class="flex-shrink">
            <mat-tab *ngFor="let tab of tabs" [disabled]="tab.route == null" [label]="tab.label"> </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>

    <div class="bg-white mt-4 rounded p-4 shadow">
      <router-outlet (activate)="onChildLoaded($event)"></router-outlet>
    </div>

    <div *ngIf="carouselData.upcoming.data?.data?.length > 0" class="carousel-container relative">
      <h2>Scheduled events</h2>

      <ui-hr></ui-hr>

      <mat-spinner *ngIf="carouselData.upcoming.loading" i18n>Loading...</mat-spinner>
      <h3 *ngIf="carouselData.upcoming.data?.data?.length == 0" i18n>No performances found</h3>

      <div class="relative carousel-container">
        <div class="absolute right-0 top-0 bottom-0 my-auto spinner" *ngIf="carouselData.upcoming.meta.loading_page">
          <mat-spinner [diameter]="40"></mat-spinner>
        </div>

        <carousel
          *ngIf="!carouselData.upcoming.loading"
          (events)="handleCarouselEvents($event, 'upcoming')"
          [margin]="20"
          [height]="256"
          [loading]="carouselData.upcoming.meta.loading_page"
          [id]="'upcoming'"
          [cellsToShow]="currentCellsToShow"
          [loop]="false"
        >
          <div
            class="carousel-cell overflow-hidden"
            *ngFor="let performance of carouselData.upcoming.data.data; let i = index"
          >
            <app-performance-thumb
              #thumb
              [performance]="performance"
              [userLiked]="performance.client_likes"
              (click)="thumb.openBrochure()"
            >
            </app-performance-thumb>
          </div>
        </carousel>
      </div>
    </div>

  </div>
</app-page>
