::ng-deep {
  .mat-tab-label, .mat-tab-label-active{
    min-width: 0 !important;
    padding: 3px ;
    margin: 3px !important;
    @apply px-4
   }
}

.host-profile-header {
  position: relative;
  .edit-button {
    z-index: 9999999;
    position: absolute;
    bottom: -50px;
    left: 15px;
  }
}   

.profile-container__update {
  width: auto !important;
  ::ng-deep {
    button {
      width: auto !important;
    }
  }
}