:host {
  width: 100%;
}

::ng-deep {
  .mat-tab-label,
  .mat-tab-label-active {
    min-width: 0 !important;
    padding: 3px;
    margin: 3px !important;
    @apply px-4;
  }
}

.banner-picture__container img {
  height: 200px;
}

.profile-picture__container {
  margin-top: -40px;
}

:host ::ng-deep #shareButton {
  button {
    border: none;
  }
}

.carousel-container {
  min-height: 256px;  
  margin-top: 30px;
}

.spinner {
  z-index: 10001;
  height: 40px;
  right: 10px !important;
  ::ng-deep .mat-progress-spinner circle,
  .mat-spinner circle {
    stroke: #fff;
  }
}

.share-menu{
  z-index: 999;
}