@import './styles/_global';
@import './styles/_overrides';
@import './styles/theme.scss';
@import './styles/variables.scss';

// fix empty scrollbar appearing when a dialog is open
.cdk-global-scrollblock {
	position: initial;
	width: initial;
	overflow: hidden;
}
