@import './styles/_global';
@import './styles/_overrides';
@import './styles/theme.scss';
@import './styles/variables.scss';

@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

// fix empty scrollbar appearing when a dialog is open
// .cdk-global-scrollblock {
//   position: initial;
//   width: initial;
//   overflow: hidden;
// }

.cdk-global-overlay-wrapper {
  overflow: auto;
}

.mat-dialog-container {
  box-shadow: none;
  background-color: transparent !important;
  overflow: visible !important;
}

.dialog-opaque {
  transition: none;
  background: rgb(7, 26, 43);
  background: linear-gradient(169deg, rgba(7, 26, 43, 1) 0%, rgba(3, 21, 37, 1) 78%);
}
