<div class="create-host-container p-4">
    <h2>Create Host</h2>

    <p>
        Creating a host gives you permissions to start streams & manage ticketing.<br>
        You will have to go through a further onboarding step before being to make your content public to StageUp users.
    </p>

    <ui-form *ngIf="showForm"
        (onSuccess)="handleFormSuccess($event)"
        (onFailure)="handleFormFailure($event)"
        [cacheable]="hostData"
        [form]="hostForm">
    </ui-form>

    <ui-admonition class="pb-2"
        *ngIf="!showForm && hostData.error"
        type="failure"
        title="Error when sending form">
        {{ hostData.error }}
    </ui-admonition>

    <br>
    <p class="pb-0 opacity-50">
      <small>
        By creating a host account, you agree to the Host Terms of Service. For more information about StageUp's privacy
        practices, see the StageUp Privacy Statement.
      </small>
    </p>
</div>