<app-page>
  <div body>
    <mat-spinner *ngIf="loading"></mat-spinner>

    <!-- Performance player -->
    <ng-container *ngIf="!loading && performance">
      <ng-container *ngIf="!token; else player">
        <mat-error i18n>You do not have access to this performance</mat-error>
      </ng-container>

      <ng-template #player>
        <div class="relative">
          <!-- Performance Rating -->
          <div class="absolute top-4 right-4 z-10">
            <div class="mb-3">
              <app-rate-performance
                [rating]="rating"
                [starCount]="3"
                (ratingUpdated)="onRatingChanged($event)"
              ></app-rate-performance>
            </div>

            <!-- Social Sharing -->
            <app-social-sharing
              class="inline-flex justify-end min-w-full"
              [url]="performanceSharingUrl"
            ></app-social-sharing>
          </div>

          <!-- The actual video player for streams/vod -->
          <app-performance-watch [performance]="performance" [token]="token"></app-performance-watch>
        </div>
      </ng-template>
    </ng-container>

    <!-- Performance title, description, host etc -->
    <div class="performance-body mt-4" *ngIf="performance">
      <h1>{{ performance.name }}</h1>
      <app-user-thumb [user]="performance.host"></app-user-thumb>
      <mat-divider></mat-divider>

      <quill-view [content]="performance.short_description" format="json" theme="snow"></quill-view>
    </div>

    <!-- Performance Not Found -->
    <div *ngIf="performanceCacheable.error && !loading">
      <h1 i18n>Performance not found</h1>
      <h4 i18n>This performance either doesn't exist or is set to Private</h4>
      <br />
      <ui-button (click)="gotoFeed()" buttonStyle="primary-l" icon="undo" i18n>Back to Feed?</ui-button>
    </div>
  </div>
</app-page>
