<div class="flex items-center justify-between">
  <h2 class="mb-0" i18n>Patronage</h2>
  <ui-button (click)="openCreateTierDialog()" icon="add" buttonStyle="primary" [disabled]="!host.stripe_account_id" i18n
    >Create Patronage Tier</ui-button
  >
</div>

<ui-hr></ui-hr>

<ng-container *ngIf="host.stripe_account_id">
  <mat-spinner *ngIf="tiers.loading"></mat-spinner>

  <div class="grid gap-4 grid-cols-3" *ngIf="!tiers.loading">
    <app-patron-tier-thumb
      *ngFor="let tier of tiers.data"
      [tier]="tier"
      [host]="host"
      (updated)="updateTier(tier, $event)"
      (deleted)="removeTier(tier)"
    ></app-patron-tier-thumb>
  </div>

  <p *ngIf="!tiers.loading && tiers.data.length == 0" i18n>No Patron Tiers</p>
</ng-container>

<span *ngIf="!host.stripe_account_id" i18n>Patronage is disabled until Stripe has been connected.</span>
